@import "~app/shared/styles/main.scss";

.choose-partner-modal {
  .modal {
    .box {
      background-color: $white;
      border-radius: 1px;
      padding: 1.7rem 1.9rem 1.5rem;
    }

    .short-line {
      background-color: $pink;
      display: block;
      height: 1px;
      margin: 10px 0 3px;
      width: 35px;
    }

    &-background {
      background-color: rgba(0, 0, 0, 0.65);
    }

    &-content {
      max-width: 516px;
      max-height: 100%;
      width: 84%;
    }

    &-content-img {
      max-width: 600px;
      max-height: 100%;
      width: 90%;
    }

    &-title {
      color: #cc0072;
      font-family: "BNPPSquare";
      font-size: 1.25rem;
      font-weight: normal;
      letter-spacing: normal;
    }

    &-body {
      margin: 1.5rem 0 0.4rem;

      .detail {
        color: $black;
        font-family: "BNPPSquare";
        font-size: 1rem;
        line-height: normal;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      height: auto;
      margin-top: 1.25rem;

      .field:last-child {
        margin-top: 2.5rem;
      }

      button {
        background: $pink;
        border: none;
        box-shadow: 3px 3px 0 0 #8e1855;
        color: $white;
        float: right;
        font-size: 1rem;
        height: 50px;
        transition: .2s background linear;
        width: 110px;

        &:active{
          background: rgb(199, 106, 137);
        }

        &:focus {
          outline: none;
        }

        &:disabled{
          opacity: 0.65;
        }
      }
    }
  }
}

@include respond-below(sm) {
  .choose-partner-modal {
    .modal {
      .box {
        padding: 1rem 15px 1rem 17px;
      }

      .short-line {
        width: 22px;
      }

      &-title {
        font-size: 1rem;
      }

      &-body {
        margin: 1rem 0 0.2rem;
        .detail {
          font-size: 0.75rem;
        }
      }

      .form {
        .field:last-child {
          margin-top: 1.5rem;
        }
        button {
          font-size: 14px;
          height: 46px;
          width: 100%;
        }
      }
    }

  }
}


.text-right{
  text-align: right;


}
.icon-cerrar{
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}


