<div class="choose-partner-modal" >

  <app-pop-up *ngIf="isActivePopUp" (next)="mostrarPopUp($event)" [urlPopUp]="urlPopUp"></app-pop-up><!--valida con var: mostrarPopUp-->

  <div class="modal" [class.is-active]="isActive" [@animacion] = "estado">
    <div class="modal-background"></div>
    <div class="modal-content" >
      <div class="box">
        <h3 class="modal-title capitalize">{{ title }}</h3>
        <span class="short-line"></span>
        <div class="modal-body" >
          <p class="detail">{{ detail }}</p>
          <form name="form-choose-branch" class="form" #f="ngForm" novalidate autocomplete="off">
            <div class="field" [class.is-invalid]="branch.invalid && branch.touched">
              <div class="control">
                <div class="select" [class.is-loading]="!branchList.length">
                  <select name="branch" [(ngModel)]="model.branch" #branch="ngModel" required>
                    <option value="">Seleccion sucursal</option>
                    <option *ngFor="let item of branchList" [value]="item.id_punto_venta">
                      {{ item.descripcion_punto_venta }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button type="button" [disabled]="f.invalid" (click)="onSubmit(f.value)">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
