
.sidebar__container {
    position: relative;
    height: 100%;
    z-index: 20;
    float: right;
}

.sidebar__panel {
    background-color: #ffffff;
    width: 263px;
    height: 100%;
    overflow-y: overlay;
}

.sidebar__button {
    background-color: #fff;
    border-radius: 50%;
    font-size: 16px;
    height: 40px;
    width: 40px;
}

.sidebar__nav {
    display: block;

    &--items {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &--item {
        box-sizing: border-box;
        border-top: 1px solid #fff;
        display: block;
        margin: 0;
        min-height: 48px;
        width: 100%;

        .link {
            box-sizing: border-box;
            display: block;
            font-family: 'BNPPSquare';
            font-size: 14px;
            line-height: 47px;
            min-height: 47px;
            padding-left: 25px;
            transition: 0.4s;
            width: 100%;

            &.sidebar__link--primary{
                background-color: #bb1f70;
                color: #ffffff;

                &:hover{
                    background-color: #80154c;
                }
            }

            &.sidebar__accordion {
                background-color: #ebebeb;
                color: #3e3d3c;

                transition: 0.4s;
                cursor: pointer;

                &:hover{
                    background-color: #cfcfcf;
                }

                &:after{
                      content: '\FF0B';
                      color: #777;
                      font-size: 1.3em;
                      float: right;
                      margin-right: 15px;
                }

                &.sidebar__accordion--active {
                    &:after{
                      content: "\FF0D";
                      color: #777;
                      font-size: 1.3em;
                      float: right;
                      margin-right: 15px;
                    }
                }
            }

            &.sidebar__link--secondary {
                color: #3e3d3c;
                background-color: #fff;
                transition: 0.4s;

                &:hover{
                    background-color: #cfcfcf;
                }
            }
        }

        &:nth-child(4) {
            .link {
                height: 65px;
                line-height: 20px;
                padding-top: 18px;
            }
        }

        &:nth-child(n + 5) {
          border-top: none;
          border-bottom: 1px solid #ebebeb;
        }
    }

    .sidebar__accordion--subitem {
        width: 100%;
        display: block;

        .-sublink {
            box-sizing: border-box;
            color: #797776;
            border-bottom: 1px solid #ebebeb;
            display: block;
            font-family: "BNPPSquare-Light";
            font-size: 14px;
            height: 48px;
            line-height: 47px;
            padding-left: 42px;
        }
    }

    .sidebar__accordion--social {
      padding-top: 8px;
      padding-bottom: 14px;
    }
}

.sidebar__header{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 18px 26px;
    width: 100%;
    .item {
      color: #3e3d3c;
      font-family: 'BNPPSquare';
      font-size: 14px;
      font-weight: normal;
      line-height: 1;

      &:last-child {
        padding-left: 26px;
      }
    }
}

.sidebar__text{
    font-family: 'BNPPSquare';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    font-size: 14px;
    letter-spacing: normal;
}

.sidebar__pre--title{
    padding: 20px 20px 0px 20px;
    margin: 0;
    overflow: hidden;
    display: inline-block;

    &:hover{
        cursor: default;
    }
}

.sidebar__accordion {
    width: 100%;
    border: none;
    background-color: #ebebeb;
    text-align: left;
    outline: none;
    transition: 0.4s;

    &:hover{
        background-color: #cfcfcf;
    }
}


.sidebar__accordion--sublink{
    font-family: 'BNPPSquare';
    text-decoration: none;
    border: none;

    &:hover{
        background-color: #cfcfcf;
    }
}


.sidebar__item--sublink {
    display: block;
    padding: 15px 15px 15px 80px;
}

.sidebar__item--sublinkImg {
  display: block;
  padding: 0px 15px 15px 80px;
}

// tablet
@media only screen and (min-width : 767px) and (max-width : 959px) {
  .sidebar__nav--item-mobile {
    display: none;
  }
}

.sidebar__img--padlock {
    display: inline-block;
    width: 0.9em;
    height: 0.8em;
}

.sidebar__img--cellphone {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    transform: translate(-65%, +35%);
}

.sidebar__img--exit {
    position: relative;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 10px;
    transform: translateY(+15%);
}

// mobile
@media only screen and (max-width : 766px) {
  .sidebar__button {
    font-size: 14px;
    height: 30px;
    width: 30px;
  }
}
