<div class="sidebar__container">
  <span *ngIf="!isSidebarOpen" class="icon sidebar__button" (click)="openSidebar()">
    <fa-icon icon="bars"></fa-icon>
  </span>

  <div class="sidebar__panel" *ngIf="isSidebarOpen">
    <div class="sidebar__header">
      <span class="item">
        <span class="icon">
          <fa-icon icon="lock"></fa-icon>
        </span>
        {{user.company_name}}
      </span>
      <span class="item capitalize">
        {{user.firstName}} {{user.lastName}}
      </span>
    </div>
    <div class="sidebar__nav">
      <ul class="sidebar__nav--items">
        <li class="sidebar__nav--item">
            <a class="link sidebar__link--primary sidebar__text none" (click)="redirect('');">NUEVA VENTA</a>
        </li>
        <li class="sidebar__nav--item">
            <a class="link sidebar__link--primary sidebar__text none" (click)="redirect('');">ÚLTIMAS VENTAS</a>
        </li>
        <li class="sidebar__nav--item sidebar__nav--item-mobile">
          <a class="link sidebar__accordion sidebar__text" [class.sidebar__accordion--active]="accSub1" (click)="openAccordion(1);">
            Comunicate con nosotros
          </a>
          <div class="sidebar__accordion--subitem" *ngIf="accSub1">
            <div>
              <a href="#" class="link sidebar__accordion--sublink -sublink sidebar__text--sublink">
                <img class="sidebar__img--cellphone" [src]="'assets/img/icon_cellphone.svg'" alt="" />(011) 4316-4200
              </a>
            </div>
            <div class="sidebar__accordion--social">
              <app-social-networks></app-social-networks>
            </div>
          </div>
        </li>
        <li class="sidebar__nav--item sidebar__nav--item-mobile">
          <a class="link sidebar__accordion sidebar__text" [class.sidebar__accordion--active]="accSub2" (click)="openAccordion(2);">
            Acerca de BNP Paribas
            <br />
            Cardif en Argentina
          </a>

          <div class="sidebar__accordion--subitem" *ngIf="accSub2">
            <a *ngFor="let link of links" [href]="link.url" class="-sublink none">{{ link.title }}</a>
          </div>
        </li>
        <!-- <li class="sidebar__nav--item">
          <a class="link none sidebar__link--secondary sidebar__text" (click)="redirect('perfil');">Cambiar contraseña</a>
        </li> -->
        <li class="sidebar__nav--item">
          <a class="link none sidebar__link--secondary sidebar__text" (click)="logout()">
            <span class="icon is-small">
              <fa-icon icon="sign-out-alt"></fa-icon>
            </span>
            Salir
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
