<div class="client-form">
  <div class="container">
    <div class="container-header">
      <h3 *ngIf="title" class=title>
        {{ title }}
        <span class="short-line"></span>
      </h3>
      <a class="action" *ngIf="showCancelButton" (click)="handleCancel.emit($event)">
        <span class="icon is-small">
          <fa-icon icon="times"></fa-icon>
        </span>
        Eliminar Adicional
      </a>
    </div>
    <form name="form-client" class="form" #f="ngForm" autocomplete="off" novalidate>
      <div class="columns" *ngIf="type === 'beneficiary'">
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="relacionPersonal.invalid && relacionPersonal.touched">
            <label class="label">
              {{ relacionPersonal.invalid && relacionPersonal.touched ? 'Seleccione una opción válida' : 'Relación con el titular' }}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!personalRelationList.length">
                <select name="relacionPersonal"
                        [(ngModel)]="model.relacionPersonal"
		            #relacionPersonal="ngModel"
                        required>
                  <option value="">Seleccione relación con titular</option>
                  <option *ngFor="let item of personalRelationList" [value]="item.id">
                    {{ item.descripcion | decode | dashboardSelect }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="porcentaje.invalid && porcentaje.touched">
            <label class="label">
              {{ porcentaje.invalid && porcentaje.touched || porcentajeAceptado == false ? 'Ingrese un porcentaje válido' : 'Porcentaje asignado' }}: *
            </label>
            <div class="control has-icons-right">
              <input name="porcentaje"
                     class="input"
                     type="text"
                     [(ngModel)]="model.porcentaje"
		         #porcentaje="ngModel"
                     placeholder="ej: 100"
                     appNumbersOnly="true"
                     [Type]="'percentage'"
                     appMaxValue="100"
                     appMinValue="1"
                     [suma]="porcentajeAcumulado"
                     required/>
              <span class="icon is-small is-right" *ngIf="porcentaje.invalid && porcentaje.touched">
                <fa-icon icon="exclamation"></fa-icon>
              </span>

            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-4-desktop is-6-tablet is-12-mobile" *ngIf="type === 'additional'">
          <div class="field" [class.is-invalid]="relacionPersonal.invalid && relacionPersonal.touched">
            <label class="label">
              {{ relacionPersonal.invalid && relacionPersonal.touched ? 'Seleccione una opción válida' : 'Relación con el titular' }}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!personalRelationList.length">
                <select name="relacionPersonal"
                        [(ngModel)]="model.relacionPersonal"
		            #relacionPersonal="ngModel"
                        required>
                  <option value="">Seleccione relación con titular</option>
                  <option *ngFor="let item of personalRelationList" [value]="item.id">
                    {{ item.descripcion | decode | dashboardSelect }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field">
            <label class="label">Tipo de Documento: *</label>
            <div class="control">
              <div class="select" [class.is-loading]="!documentTypeList.length">
                <select name="tipoDocumento"
                        [(ngModel)]="model.tipoDocumento"
		            #tipoDocumento="ngModel"
                        [disabled]="disabled.tipoDocumento"
                        required>
                  <option *ngFor="let item of documentTypeList" [value]="item.userDocumentType">
                    {{ item.userDocumentNumber | decode | dashboardSelect }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="nroDocumento.invalid && nroDocumento.touched">
            <label class="label">
              {{ nroDocumento.invalid && nroDocumento.touched ? 'Ingresa un número válido' : 'Número'}}: *
            </label>
            <div class="control has-icons-right">
              <input name="nroDocumento"
                     class="input"
                     appNumbersOnly="true"
                     minlength="6"
                     maxlength="9"
                     [Type]="5"
                     [(ngModel)]="model.nroDocumento"
		         #nroDocumento="ngModel"
                     type="text"
                     placeholder="Sin puntos"
                     [disabled]="disabled.nroDocumento"
                     required/>
              <span class="icon is-small is-right" *ngIf="nroDocumento.invalid && nroDocumento.touched">
                <fa-icon icon="exclamation"></fa-icon>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="apellido.invalid && apellido.touched">
            <label class="label">
              {{ apellido.invalid && apellido.touched ? 'Ingresa un apellido válido' : 'Apellido'}}: *
            </label>
            <div class="control has-icons-right">
              <input name="apellido"
                     class="input capitalize"
                     [(ngModel)]="model.apellido"
		         #apellido="ngModel"
                     type="text"
                     placeholder="Apellido"
                     [disabled]="disabled.apellido"
                     appNumbersOnly
                     [Type]="'L'"
                     required
              />
              <span class="icon is-small is-right" *ngIf="apellido.invalid && apellido.touched">
                <fa-icon icon="exclamation"></fa-icon>
              </span>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="nombre.invalid && nombre.touched">
            <label class="label">
              {{ nombre.invalid && nombre.touched ? 'Ingresa un nombre válido' : 'Nombres'}}: *
            </label>
            <div class="control has-icons-right">
              <input name="nombre"
                     class="input capitalize"
                     type="text"
                     [(ngModel)]="model.nombre"
		         #nombre="ngModel"
                     placeholder="Nombres"
                     [disabled]="disabled.nombre"
                     appNumbersOnly
                     [Type]="'L'"
                     required/>
              <span class="icon is-small is-right" *ngIf="nombre.invalid && nombre.touched">
                <fa-icon icon="exclamation"></fa-icon>
              </span>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field field-date" [class.is-invalid]="fechaNacimiento.invalid && fechaNacimiento.touched">
            <label class="label">
              {{
			fechaNacimiento.invalid && fechaNacimiento.touched ?
				fechaNacimiento.errors.adult ? fechaNacimiento.errors.adult : 'Ingrese una fecha válida'
				: 'Fecha de nacimiento'
              }}: *
            </label>
            <div class="control has-icons-right has-icons-left">
                  <span class="icon is-small is-left">
                    <fa-icon icon="calendar"></fa-icon>
                  </span>
              <input name="fechaNacimiento"
                     class="text"
                     type="text"
                     [cleave]="{date: true}"
                     placeholder="DD / MM / AAAA"
                     [(ngModel)]="model.fechaNacimiento"
		         #fechaNacimiento="ngModel"
                     [disabled]="disabled.fechaNacimiento"
                     [pattern]="datePattern"
                     [appBorn]="bornRequired"
                     [appAdult]="adultRequired"
                     [value]="fechaNacimiento"
                     required/>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="cuil.invalid && cuil.touched">
            <label class="label">
              {{ cuil.invalid && cuil.touched ? 'Ingresa un CUIT / CUIL válido' : 'CUIT / CUIL'}}:
            </label>
            <div class="control has-icons-right">
              <input name="cuil"
                     class="input"
                     minlength="11"
                     maxlength="11"
                     type="text"
                     [(ngModel)]="model.cuil"
		         #cuil="ngModel"
                     placeholder="__-________-_"
                     appNumbersOnly="true"
                     [Type]="'8'"

              />
              <span class="icon is-small is-right" *ngIf="cuil.invalid && cuil.touched">
                <fa-icon icon="exclamation"></fa-icon>
              </span>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="idGenero.invalid && idGenero.touched">
            <label class="label">
              {{ idGenero.invalid && idGenero.touched ? 'Seleccione una opción válida' : 'Sexo'}}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!genderList.length">
                <select name="idGenero" [(ngModel)]="model.idGenero" #idGenero="ngModel" required [disabled]="model.idGenero!='' && principal">
                  <option value="">Seleccione sexo</option>
                  <option *ngFor="let item of genderList" [value]="item.id">
                    {{ item.descripcion | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="idNacionalidad.invalid && idNacionalidad.touched">
            <label class="label">
              {{ idNacionalidad.invalid && idNacionalidad.touched ? 'Seleccione una opción válida:: *' : 'Nacionalidad: *'}}
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!nationalityList.length">
                <select name="idNacionalidad" [(ngModel)]="model.idNacionalidad" #idNacionalidad="ngModel" required>
                  <option value="">Seleccione nacionalidad</option>
                  <option *ngFor="let item of nationalityList" [value]="item.id_nacionalidad">
                    {{ item.nombre_nacionalidad | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="idEstadoCivil.invalid && idEstadoCivil.touched">
            <label class="label">
              {{ idEstadoCivil.invalid && idEstadoCivil.touched ? 'Seleccione una opción válida: *' : 'Estado Civil: *'}}
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!civilStatusList.length">
                <select name="idEstadoCivil" [(ngModel)]="model.idEstadoCivil" #idEstadoCivil="ngModel" required>
                  <option value="">Seleccione estado civil</option>
                  <option *ngFor="let civilStatus of civilStatusList" [value]="civilStatus.id">
                    {{ civilStatus.descripcion }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="idActividad.invalid && idActividad.touched">
            <label class="label">
              {{ idActividad.invalid && idActividad.touched ? 'Seleccione una opción válida' : 'Actividad'}}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!activityList.length">
                <select name="idActividad" [(ngModel)]="model.idActividad" #idActividad="ngModel" required>
                  <option value="">Seleccione actividad</option>
                  <option *ngFor="let item of activityList" [value]="item.id">
                    {{ item.descripcion | decode | slice:0:50 }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="idRelacionLaboral.invalid && idRelacionLaboral.touched">
            <label class="label">
              {{ idRelacionLaboral.invalid && idRelacionLaboral.touched ? 'Seleccione una opción válida' : 'Relación Laboral'}}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!workRelationList.length">
                <select name="idRelacionLaboral" [(ngModel)]="model.idRelacionLaboral" #idRelacionLaboral="ngModel" required class="capitalize">
                  <option value="">Seleccione relacion laboral</option>
                  <option *ngFor="let item of workRelationList" [value]="item.id">
                    {{ item.descripcion | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field is-grouped is-grouped-2-1" [class.is-invalid]="((calle.invalid && calle.touched) || (numero.invalid && numero.touched))">
            <label class="label">
              {{ calle.invalid && calle.touched ? 'Ingrese un domicilio válido' : 'Calle: * - Numero: *'}}
            </label>
            <div class="control">
              <input name="calle" class="input" type="text" [(ngModel)]="model.calle" #calle="ngModel" placeholder="Calle" required maxlength="59"/>
            </div>
            <div class="control">
              <input name="numero" class="input" type="number" appNumbersOnly="true" [(ngModel)]="model.numero" #numero="ngModel" [Type]="typeAlt" placeholder="Número." required/>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field is-grouped is-grouped-1">
            <label class="label">Piso: - Departamento: - Torre: </label>
            <div class="control">
              <input class="input" type="text" placeholder="Piso" name="piso" #piso="ngModel" [(ngModel)]="model.piso"/>
            </div>
            <div class="control">
              <input class="input" type="text" placeholder="Depto." name="departamento" #departamento="ngModel" [(ngModel)]="model.departamento"/>
            </div>
            <div class="control">
              <input class="input" type="text" placeholder="Torre" name="torre" #torre="ngModel" [(ngModel)]="model.torre"/>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="idProvincia.invalid && idProvincia.touched">
            <label class="label">
              {{ idProvincia.invalid && idProvincia.touched ? 'Seleccione una opción válida: *' : 'Provincia: *'}}
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!provinceList.length">
                <select name="idProvincia" [(ngModel)]="model.idProvincia" #idProvincia="ngModel" required (change)="handleChange()">
                  <option value="">Seleccione provincia</option>
                  <option *ngFor="let item of provinceList" [value]="item.id">
                    {{ item.descripcion | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field is-grouped is-grouped-2-1" [class.is-invalid]="idLocalidad.invalid && idLocalidad.touched || codigoPostal.invalid && codigoPostal.touched">
            <label class="label">
              {{ idLocalidad.invalid && idLocalidad.touched ? 'Seleccione una opción válida: *' : codigoPostal.invalid && codigoPostal.touched ? 'Ingresa un codigo postal válido' : 'Localidad: * - código postal: ' }}
            </label>
            <div class="control">
              <div class="select">
                <select name="idLocalidad" [(ngModel)]="model.idLocalidad" #idLocalidad="ngModel" required> <!-- gerr: 10/05 Se quito required -->
                  <!-- <option value="">Seleccione Localidad</option> -->
                  <option *ngFor="let locality of localityListFiltered" [value]="locality.idLocalidad">
                    {{ locality.localidad | decode }}
                  </option>
                </select>
              </div>
            </div>
            <div class="control has-icons-right">
              <input name="codigoPostal" class="input" type="text" [(ngModel)]="model.codigoPostal" #codigoPostal="ngModel" placeholder="CPA" appNumbersOnly="true"
                     [Type]="typeCpa"/> <!-- gerr: 10/05 Se quito required -->
              <a [href]="CPALink" target="_blank" class="icon is-small is-right">
                <fa-icon icon="link"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div *ngIf="isEmailInvalid" _ngcontent-c13="" class="field is-invalid"><label _ngcontent-c13="" class="label"> Es obligatorio un email: * </label>
          </div>
          <app-items-form
            attribute="email"
            [items]="email"
            [maxItems]="2"
            title="Email"
            type="email"
            (addItem)="addItem($event)"
            (removeItem)="removeItem($event)"
          ></app-items-form>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div *ngIf="isPhoneInvalid" _ngcontent-c13="" class="field is-invalid">
            <label _ngcontent-c13="" class="label"> {{msjErrorCelular}}: * </label>

          </div>
          <app-items-form
            attribute="celular"
            [items]="celular"
            title="Teléfono Celular"
            type="number"
            maxlength="10"
            (addItem)="addItem($event)"
            (removeItem)="removeItem($event)"
          ></app-items-form>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div *ngIf="isPhoneFijoInvalid" _ngcontent-c13="" class="field is-invalid">
            <label _ngcontent-c13="" class="label">Teléfono invalido, cámbielo o elimínelo. </label>
          </div>
          <app-items-form
            attribute="telefonoFijo"
            [items]="telefonoFijo"
            title="Teléfono Fijo"
            maxlength="11"
            type="number"
            (addItem)="addItem($event)"
            (removeItem)="removeItem($event)"
          ></app-items-form>
        </div>

        <div class="column is-full text-center">
          <a class="button button-next" (click)="handleClick(f)"
             [class.disabled]="isLoading">
            <span>Siguiente</span>
            <span class="icon is-small">
              <fa-icon icon="arrow-right"></fa-icon>
            </span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
