@import "~app/shared/styles/_variables.scss";

.client-form {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-header {
      color: #3e3d3c;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      .title {
        color: $black;
        font-family: "BNPPSquare";
        font-size: 1.875;
      }

      .action {
        color: #3e3d3c;
      }
    }
  }

  .button-next {
    border: none;
    color: $black;
    font-family: "BNPPSquare";
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0;
    margin-top: 2rem;

    &.disabled {
      pointer-events: none;
      opacity: 0.65;
    }

    span.icon {
      color: $black;
    }
  }

  .short-line {
    background: #656463;
    display: block;
    height: 1px;
    margin: 10px 0 3px;
    width: 35px;
  }

  .columns {
    flex-wrap: wrap;
  }
}
