<ng-container *ngIf="isOverlayOn">
  <div class="sidebar__overlay" (click)="removeOverlay(); sidebar.closeSidebar();"></div>
</ng-container>

<ng-container *ngIf="isChangePassSuccess">
  <div class="notification is-info changePass__notification--isSuccess">
    Tu contraseña fue actualizada exitosamente.
  </div>
</ng-container>

<ng-container *ngIf="errorServidor">
 <!--  <div class="notification is-info changePass__notification--isError">
    Ocurrió un error durante el proceso. Por favor revisa las politicas de seguridad para formato de contraseñas.
  </div> -->
  <div class="choose-partner-modal">
      <div class="modal is-active ">
        <div class="modal-background"></div>
        <div class = "modal-card animated" [ngClass]="{ bounceInDown: efecto }" >
          <header class="modal-card-head">
            <p class="modal-card-title">Error en el proceso : (</p>
            <!-- <button class="delete" aria-label="close"></button> -->
          </header>

          <section class="modal-card-body">
            <div class="centrar">
              <span class="icono-error">&#10007;</span>
            </div>
            <p>Id venta: {{ idVenta }}</p>
            <p>Certificado: {{ idContrato }}</p>
            <p>Producto: {{ producto }}</p>
<!--            <p>Producto: {{ producto }}</p>-->
<!--            <p>Plan: {{ plan }}</p>-->
            <p>Detalle: Error en servidor, la venta no se realizo.</p>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" (click)="cerrarModalErrorServidor()">Aceptar</button>
          </footer>
        </div>
      </div>
    </div>
</ng-container>

<!-- isSaleError -->
<ng-container *ngIf="isSaleError">
    <div class="choose-partner-modal">
        <div class="modal is-active ">
          <div class="modal-background"></div>
          <div class = "modal-card animated" [ngClass]="{ bounceInDown: efecto }" >
            <header class="modal-card-head">
              <p class="modal-card-title">Error en el proceso : (</p>
              <!-- <button class="delete" aria-label="close"></button> -->
            </header>

            <section class="modal-card-body">
              <div class="centrar">
                <span class="icono-error">&#10007;</span>
              </div>
              <p>Id venta: {{ idVenta }}</p>
              <p>Certificado: {{ idContrato? idContrato : "certificado no generado."}}</p>
              <p>Detalle: {{ detalle }}</p>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" (click)="cerrarModalIsSaleError()">Aceptar</button>
            </footer>
          </div>
        </div>
      </div>
</ng-container>

<ng-container *ngIf="this.dashboardService.isSaleCancel">
    <div class="choose-partner-modal">
        <div class="modal is-active">
          <div class="modal-background"></div>
          <div class = "modal-card animated" [ngClass]="{ bounceInDown: efecto}" >
            <header class="modal-card-head">
              <p class="modal-card-title">Venta cancelada...</p>
              <!-- <button class="delete" aria-label="close"></button> -->
            </header>

            <section class="modal-card-body">
              <div class="centrar">
                <span class="icono-error">&#10007;</span>
              </div>
              <p class="centrar">Estado: Venta cancelada por usuario.</p>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-danger" (click)=" cerrarModalCancelar() ">Aceptar</button>
            </footer>
          </div>
        </div>
      </div>
</ng-container>
<!-- isSaleSuccess -->
<ng-container *ngIf="isSaleSuccess">
  <div class="choose-partner-modal">
    <div class="modal is-active ">
      <div class="modal-background"></div>
      <div class = "modal-card animated" [ngClass]="{ bounceInDown: efecto }" >
          <header class="modal-card-head">
          <p class="modal-card-title">La venta se proceso con éxito : )</p>
          <!-- <button class="delete" aria-label="close"></button> -->
        </header>

        <section class="modal-card-body">
          <div class="centrar">
            <span class="icono">&#10004;</span>
          </div>
          <p>Id venta: {{ idVenta }}</p>
          <p>Certificado: {{ idContrato }}</p>
          <p>Producto: {{ producto }}</p>
<!--          <p>Plan: {{ plan }}</p>-->
          <p>Detalle: {{ detalle }}</p>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" (click)="cerrarModalSucces()">Aceptar</button>
        </footer>
      </div>
    </div>
  </div>
</ng-container>

<header class="header">
  <div class="header-bar"></div>
  <div class="header--wrapper">
    <span class="header--logo">
      <img width="100%" height="auto" src="assets/img/bnp-paribas-cardif_logo.png" />
    </span>
    <app-sidebar [ngClass]="isOverlayOn ? 'header__sidebar--open': 'header__sidebar'" #sidebar
      (click)="putOverlay(); sidebar.openSidebar();"></app-sidebar>
    <div class="header--user">
      <span class="partner">
        {{user.fullname}}
      </span>
      <span class="separator">
        /
      </span>
      <div class="header--user__nav">
        <a class="toggle-dropdown capitalize" (click)="showMenu = true">
          {{ user.firstName }} {{ user.lastName }}
          <span class="icon is-small">
            <fa-icon icon="angle-down"></fa-icon>
          </span>
        </a>
        <div class="wrapper" *ngIf="showMenu">
          <div class="arrow"></div>
          <ul class="dropdown--menu">
            <!-- <li class="dropdown--menu-item">
              <a routerLink="/perfil" class="link none">Cambiar contraseña</a>
            </li> -->
            <li class="dropdown--menu-item">
              <a class="link none" (click)="logout()">
                <span class="icon is-small">
                  <fa-icon icon="sign-out-alt"></fa-icon>
                </span>
                Salir
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header--welcome">
      Bienvenido! <span class="header--welcome__name capitalize">{{ user.firstName }}</span>!

    </div>
    <div class="header-image">
      <figure class="image">
        <img width="270" src="assets/img/img-desktop_header.png" />
      </figure>
    </div>
  </div>
</header>
