@import "~app/shared/styles/_variables.scss";

.modal-card{
  width: 25vw;
}
.modal-card-head{
  background-color: #bb1f70 !important;
  font-size: 1.5rem;
  text-align: center;

}

.modal-card-body{
  font-size: .7rem;
}

.modal-card-title{
  color: #dedad5 !important;
}

.modal-card-foot{
  display: flex;
  justify-content: center;
}

.icono{
  font-size: 3rem;
  color: #bb1f70 !important;
}
.icono-error{
  font-size: 3rem;
  color: red !important;
}
.color-error{
  color: #d87f2c !important;
}

.back-gr-error{
  background-color:red !important;

}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;


}

.button {
  background-color: #bb1f70 !important;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 0 0 #8e1855;
  color: white;
  font-family: "BNPPSquare";
  font-size: 1rem;
  height: 100%;
  width: 220px;

  &:active{
    background-color: rgb(199, 106, 137);
  }
  &:hover{
    background-color: #bb1f70 !important;
  }
}

.header {
  background-color: #dedad5;

  &-bar {
    background-color: #3e3d3c;
    height: 30px;
  }

  &-image {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 0;

    figure {
      margin: 0;

      img {
        width: 395px;
        height: auto;
      }
    }
  }

  &--logo {
    display: inline-block;
    height: 60px;
    width: 281px;
  }

  &--wrapper {
    margin: 0 auto;
    max-width: $desktop;
    padding: 30px 0 50px;
    position: relative;
    width: 94%;
  }

  &--user {
    position: absolute;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    right: 0;
    top: 30px;
    width: auto;
    z-index: 5;

    .partner {
      color: #3f3d3c;
      font-weight: bold;
      font-family: "BNPPSquare-Bold";
    }

    &__nav {
      position: relative;

      .toggle-dropdown {
        color: #3f3d3c;
        cursor: pointer;
        font-family: 'BNPPSquare';
      }

      .arrow {
        position: absolute;
        right: 30px;
        top: 22px;
        z-index: 1;

        &:before,
        &:after {
          content: "";
          position: absolute;
          display: block;
          border-color: transparent;
          border-style: solid;
          border-width: 0 8px 8px 8px;
        }

        &:before {
          top: 0;
          border-bottom-color: #a8acaa;
        }

        &:after {
          top: 1px;
          border-bottom-color: #fff;
        }
      }

      .dropdown--menu {
        box-sizing: border-box;
        box-shadow: 0 0 0 1px #b0b0ae;
        background: #fefefe;
        border-radius: 6px;
        list-style: none;
        padding: 7px 0;
        margin: 10px 0 0;
        position: absolute;
        right: 0;
        width: 220px;

        &-item {
          box-sizing: border-box;
          display: block;
          padding-left: 20px;
          height: 40px;
          line-height: 40px;
          width: 100%;

          &:hover {
            background: #f5f5f5;
          }

          .link {
            color: #787776;
            cursor: pointer;
            display: block;
            font-family: 'BNPPSquare';
            font-size: 14px;
          }
        }
      }
    }
  }

  &--welcome {
    color: #8e1855;
    font-size: 2.5rem;
    font-family: "BNPPSquare-Light";
    margin: 40px 0 30px;

    &__name {
      color: #3e3d3c;
    }

    &__message {
      color: #787776;
      font-size: 1.25rem;
      max-width: 600px;
      width: 63%;
    }
  }

  .separator {
    margin: 0 15px;
    font-family: 'BNPPSquare';
  }
}

.sidebar__overlay {
  display: block;
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgb(0,0,0);
  opacity: 0.5;
  cursor: pointer;
}

.changePass__notification {

  &--isSuccess {
    position: fixed;
    width: 350px;
    z-index: 50;
    font-family: 'BNPPSquare';
    font-size: 0.8rem;
    background-color: #339bbe;

    &::before {
      content: url('../../../../assets//img/icon_shield.svg');
      position: relative;
      width: 40px;
      height: 40px;
      margin-top:auto;
      margin-bottom:auto;
      margin-right: 20px;
      float: left;
    }
  }

  &--isError {
    position: fixed;
    width: 400px;
    z-index: 50;
    font-family: 'BNPPSquare';
    font-size: 0.8rem;
    background-color: #f42600;

    &::before {
      content: url('../../../../assets//img/icon_error.svg');
      position: relative;
      width: 40px;
      height: 40px;
      margin-top:auto;
      margin-bottom:auto;
      margin-right: 20px;
      float: left;
    }
  }
}

.saleSuccess__notification {

  &--isSuccess {
    position: fixed;
    width: 350px;
    z-index: 50;
    font-family: 'BNPPSquare';
    font-size: 0.8rem;
    background-color: #339bbe;
  }
/*
    &::before {
      content: url('../../../../assets//img/icon_shield.svg');
      position: relative;
      width: 40px;
      height: 40px;
      margin-top:auto;
      margin-bottom:auto;
      margin-right: 20px;
      float: left;
    } */
  }

// tablet
@media only screen and (min-width : 767px) and (max-width : 959px) {
  .header__sidebar {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index:11;
  }

  .header__sidebar--open {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    z-index:11;
  }

  .header--user {
    display: none;
  }

  .header-bar {
    display: none;
  }

  .changePass__notification--isSuccess, .changePass__notification--isError, .saleSuccess__notification--isSuccess {
    right: 20px;
    top: 20px;
  }
}

// desktop
@media only screen and (min-width : 960px) {
  .header__sidebar {
    float: top;
    position: relative;
    display:none;
  }

  .header__sidebar--open {
    display:none;
  }

  .sidebar__overlay {
    display: none;
  }

  .changePass__notification--isSuccess, .changePass__notification--isError, .saleSuccess__notification--isSuccess {
    right: 30px;
    top: 40px;
  }
}


// mobile
@media only screen and (max-width : 766px) {
  .header__sidebar {
    right: 15px;
    top: 15px;
    position: fixed;
    z-index:11;
  }

  .header__sidebar--open {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    z-index:11;
  }

  .header--user{
    display: none;
  }

  .header-bar {
    display: none;
  }

  .header {
      &--wrapper {
          padding: 15px 0;
      }

      &--logo {
          height: 30px;
          width: 143px;
      }

      &-image {
        display: none;
      }

      &--welcome {
          font-size: 1.5rem;
          margin: 10px 0 0;

          &__message {
              font-size: 14px;
              max-width: 280px;
          }
      }
  }

  .changePass__notification--isSuccess, .changePass__notification--isError, .saleSuccess__notification--isSuccess {
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 10px;

    ::before {
      width: 30px;
      height: 30px;
      margin-right: auto;
      margin-left: auto;
    }
  }

}

.dropdown__img--exit {
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: 5px;
  transform: translateY(+15%);
}

.dropdown__img--down {
    width: 1.2em;
    height: 1em;
    transform: translateY(+25%);
}
