<div class="yes-no-question">
  <div class="question">
    <div class="text" [innerHTML]="'¿' + question + '?'"></div>
    <span class="short-line"></span>
  </div>
  <div class="anwsers">
    <button class="btn upper" (click)="onClick(true)">
      si
    </button>
    <button class="btn upper" (click)="onClick(false)">
      no
    </button>
  </div>
</div>
