@import "~app/shared/styles/_variables";

.yes-no-question {
  margin: 1rem auto;
  max-width: 700px;
  width: 100%;

  .short-line {
    background: #656463;
    display: block;
    height: 1px;
    margin: 10px auto;
    width: 35px;
  }

  .question,
  .anwsers {
    text-align: center;
    width: 100%;
  }

  .question {
    color: $black;
    font-family: "BNPPSquare";
    font-size: 1.9rem;
    font-weight: normal;
  }

  .anwsers {
    margin-top: 1.425rem;

    .btn {
      border: 1px solid #b0b0ae;
      background: $white;
      box-shadow: inset 3px 3px 0 0 #ebebeb;
      border-radius: 100px;
      color: $light-black;
      font-family: "BNPPSquare";
      font-size: 1rem;
      height: 50px;
      margin: 0 25px;
      width: 125px;

      &:focus {
        outline: none;
      }
    }
  }
}
