<section class="payAndConsent-component" [@animacion]="estado">


  <div class="encuesta" *ngIf="tieneEncuesta">
    <h2 class="sub-title"><strong>ENCUESTA: </strong></h2>
    <span class="short-line"></span>
    <div class="columns">
      <div class="column is-12-desktop is-12-tablet is-12-mobile">
        <p class="columns">
          <strong class="column">Medios de contacto:*</strong>
        </p>
        <div class=" is-flex flex-wrap ">
          <div class="column is-1-desktop is-2-tablet is-4-mobile text-center" *ngFor="let com of comunicacion">
            <div class="icono" [class.icono-seleccionado]="com.estado" (click)="seleccionDeMedioContacto(com.id)">
              <img src="assets/img/arquetipos/medios-contacto/{{com.nombre}}2.png" alt="">
            </div>
            <p>{{com.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12-desktop is-12-tablet is-12-mobile">
        <p><strong>Arquetipos:</strong></p>
        <div class="is-flex flex-wrap">
          <div class="column is-1-desktop is-2-tablet is-4-mobile is-flex flex-column text-center" *ngFor="let arq of arquetipos">
            <div *ngIf="idGenero == '1'"  class="icono" [class.icono-seleccionado]="arq.estado" (click)="seleccionDeArquetipo(arq.id)">
              <img src="assets/img/arquetipos/masculinos/{{arq.nombre}}2.png" alt="">
            </div>
            <div *ngIf="idGenero == '2'"  class="icono" [class.icono-seleccionado]="arq.estado" (click)="seleccionDeArquetipo(arq.id)">
              <img src="assets/img/arquetipos/femeninos/{{arq.nombre}}2.png" alt="">
            </div>
            <label *ngIf="idGenero == '1'">{{arq.descripcion}}</label>
            <label *ngIf="idGenero == '2'">{{arq.descripcion_fem}}</label>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h2 class="sub-title"><strong>DATOS PERSONALES Y TIPO DE PRODUCTO: </strong></h2>
  <span class="short-line"></span>
  <div class="columns">
    <div class="column is-6-desktop is-6-tablet is-12-mobile">
      <p><strong>Nombre/s y Apellido/s: </strong> {{ solicitud.nombreApellido }} </p>
      <p><strong>Domicilio: </strong> {{ solicitud.domicilio }} </p>
      <p><strong>Código Postal: </strong> {{ solicitud.codPostal }} </p>
      <p><strong>E-Mail: </strong> {{ solicitud.email }} </p>

    </div>

    <div class="column is-6-desktop is-6-tablet is-12-mobile">
      <p><strong> Fecha de nacimiento: </strong> {{ solicitud.fechaNacimiento }} </p>
      <p><strong>Teléfono/ Cel: </strong> {{ solicitud.telefono }} </p>
      <p><strong>Provincia: </strong> {{ solicitud.provincia }} </p>
      <p><strong>Localidad: </strong> {{ solicitud.localidad }} </p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-12-desktop is-12-tablet is-12-mobile">
      <p *ngIf="isProducto"><strong>Plan seleccionado: </strong>${{ solicitud.plan }} </p>
      <p *ngIf="isWarranty"><strong>Garantia extendida: </strong>${{ solicitud.plan }} </p>

      <div *ngIf="tieneSolicitud" class="field  mt-1">
        <h2 class="sub-title mt-1"><strong>DESCARGA DE SOLICITUD: </strong></h2>
        <span class="short-line"></span>
        <div class="control is-flex centrar">
          <button type="button" [class.is-loading]="isLoadingDescarga" [disabled]="descargaDisponible" (click)="descargarSolicitud()">Descargar Solicitud</button>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12-desktop is-6-tablet is-12-mobile">
      <p *ngIf="msjSolicitud" class="sin-solicitud"> No existen solicitudes para este producto.</p>
    </div>
  </div>


  <ng-container *ngIf="conMensajeria">
    <h2 class="sub-title">Consentimiento del cliente</h2>
    <span class="short-line"></span>
    <form class="form" novalidate [formGroup]="formSms">
      <div class="columns">
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field">
            <label class="label">Enviar código al cliente: *</label>
            <div class="control">
              <div class="select">
                <!--                <select  name="celular" [(ngModel)]="celuElegido">
                                  <option *ngFor="let item of celulares; let i = index" >{{ item }}</option>
                                </select>-->
                <select name="celular" formControlName="numCelular">
                  <option value="">Elegir celular</option>
                  <option *ngFor="let item of celulares; let i = index">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-2-desktop is-6-tablet is-12-mobile">
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <button [class.secondaryBtn]="!mensajeEnviado"
                      [class.is-loading]="isLoadingSms"
                      [class.secondaryBtnDisabled]="mensajeEnviado || numCelular.invalid || formSms.get('numValidacion').valid"
                      [disabled]="mensajeEnviado"
                      (click)="onSendMessage()">
                Enviar código
              </button>
            </div>
          </div>
        </div>
        <!--        <div class="column is-4-desktop is-6-tablet is-12-mobile" *ngIf="isCodeGenerated">-->
        <div class="column is-3-desktop is-6-tablet is-12-mobile" *ngIf="isCodeGenerated">
          <div class="field" [class.is-invalid]="formSms.get('numValidacion').invalid && formSms.get('numValidacion').touched">
            <label class="label" [class.is-invalid]="isConfirmationCodeError">
              <!--              {{ isConfirmationCodeError ? confirmationCodeErrorMsg : 'Código de confirmación' }}: *-->
              {{ 'Código de confirmación' }}: *
            </label>
            <div class="control">
              <input class="text" name="validationCode" formControlName="numValidacion" #codigoValidacion [(ngModel)]="validationCode" placeholder="4 numeros"
                     appNumbersOnly="true"
                     [Type]=this.typeValC
                     (keyup.enter)="checkValidationCode()"
              >
            </div>
          </div>
        </div>
        <div class="column is-3-desktop is-6-tablet is-12-mobile" *ngIf="isCodeGenerated">
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <button class="secondaryBtn" (click)="checkValidationCode()">
                Confirmar codigo
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <!--      Mensaje de error si el codigo es invalido.-->
        <div class="column is-12-desktop is-6-tablet is-12-mobile" *ngIf="errorEnMsjEnviado">
          <div class="field" [class.is-invalid]="errorEnMsjEnviado">
            <label class="label" [class.is-invalid]="errorEnMsjEnviado">
              <!--            El codigo enviado es erroneo, o el numero de celular no corresponde a una linea valida.-->
              {{confirmationCodeErrorMsg}}
            </label>
          </div>
        </div>
      </div>
    </form>

  </ng-container>

  <ng-container *ngIf="isConsentGiven">
    <form class="form" [formGroup]="payAndConsentForm" name="payAndConsentForm" autocomplete="off" *ngIf="!tieneServicioSPS">
      <div class="columns">
        <div class="column is-12-desktop is-12-tablet is-12-mobile">
          <div class="field height-auto">
            <div class="control has-text height-auto">
              <label class="checkbox">
                <input type="checkbox" name="medioPago"
                       formControlName="medioPago"
                       (change)="changeCheck($event)"
                       [checked]="false"
                /> Sin medio de pago.
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="columns" *ngIf="mostrarMediosDePago">
        <div class="column is-5-desktop is-6-tablet is-12-mobile">
          <div class="field"><label class="label"> Seleccione medio de pago: * </label>
            <div class="control">
              <div class="select">
                <select formControlName="medioPago" (change)="seleccionarMedio($event.target.value)">
                  <option class="newsale__option" [value]="-1" [selected]>Seleccione un medio</option>
                  <option class="newsale__option" *ngFor="let item of listaMediosDePago" [value]="item.id">
                    {{ item.descripcion | decode }} </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!--        COLUMNA VACIA-->
        <div class="column is-1-desktop is-1-tablet is-12-mobile">
          <div class="field">
            <label class="label"></label>
          </div>
          <div class="control card-icons">
          </div>
        </div>


        <div class="column is-5-desktop is-5-tablet is-12-mobile">
          <div class="field is-grouped is-grouped-4"
               [class.is-invalid]="payAndConsentForm.controls.cardNum1.invalid && payAndConsentForm.controls.cardNum1.touched || payAndConsentForm.controls.cardNum2.invalid &&  payAndConsentForm.controls.cardNum2.touched || payAndConsentForm.controls.cardNum3.invalid && payAndConsentForm.controls.cardNum3.touched || payAndConsentForm.controls.cardNum4.invalid && payAndConsentForm.controls.cardNum4.touched || isLuhnMsjOn ">
            <label class="label">
              {{ payAndConsentForm.controls.cardNum1.invalid && payAndConsentForm.controls.cardNum1.touched || payAndConsentForm.controls.cardNum2.invalid && payAndConsentForm.controls.cardNum2.touched || payAndConsentForm.controls.cardNum3.invalid && payAndConsentForm.controls.cardNum3.touched || payAndConsentForm.controls.cardNum4.invalid && payAndConsentForm.controls.cardNum4.touched || isLuhnMsjOn ? 'Número no válido, por favor verifique' : 'Número de tarjeta'}}
              :
              * </label>
            <div class="control"><input class="input" formControlName="cardNum1" name="cardNum1" placeholder="XXXX"
                                        (keyup)="onKeyUpInput(1)" appNumbersOnly="true" [Type]="typeCard" #cardNum1/>
            </div>
            <div class="control"><input class="input" formControlName="cardNum2" name="cardNum2" placeholder="XXXX"
                                        (keyup)="onKeyUpInput(2)" appNumbersOnly="true" [Type]="typeCard" #cardNum2/>
            </div>
            <div class="control"><input class="input" formControlName="cardNum3" name="cardNum3" placeholder="XXXX"
                                        (keyup)="onKeyUpInput(3)" appNumbersOnly="true" [Type]="typeCard" #cardNum3/>
            </div>
            <div class="control"><input class="input" formControlName="cardNum4" name="cardNum4" placeholder="XXXX"
                                        appNumbersOnly="true" (keyup)="onKeyUpInput(4)" [Type]="typeCard" #cardNum4/>
            </div>
          </div>

        </div>
        <div class="column is-1-desktop is-1-tablet is-12-mobile" *ngIf="isNotPUA">
          <div class="field">
            <label class="label"></label>
          </div>
          <div class="control card-icons">
            <img class="payAndConsent__imgSuccess" src="assets/img/icon_cardSuccess.svg"
                 [ngClass]="{'--showSuccessImg': isValidCardIssuer}"/>
          </div>
        </div>

      </div>

      <div class="column is-full is-flex flex-center">
        <div class="tooltip">
          <button type="button" class="button-large"
                  (click)="onSubmit()" [class.is-loading]="isLoading" [disabled]="!mostrarBoton"> Confirmar Venta
          </button>
          <span *ngIf="mostrarMsjContacto" class="tooltiptext">{{msjContactoNoSeleccionado}}</span>
        </div>

      </div>
    </form>
  </ng-container>

  <!--    si es warranty utiliza el servicio de SPS para el pago con tarjeta-->
  <app-pago-con-tarjeta *ngIf="tieneServicioSPS" [precio]=precioPrd [descripcion]=descripcionPrd [plan]=planPrd></app-pago-con-tarjeta>

</section>
