@import "~app/shared/styles/main.scss";
@import "~app/shared/styles/_variables.scss";

.button2 {
  background-color: #bb1f70;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 0 0 #8e1855;
  color: white;
  font-family: "BNPPSquare";
  font-size: 1rem;
  //height: 100%;
  width: 220px;
  padding: 10px;
}

.pago-con-tarjeta {
  padding: 6px 0 2.5rem;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .columns {
    flex-wrap: wrap;
  }

  .sub-title {
    color: $black;
    font-family: 'BNPPSquare';
    font-size: 1.9rem;
    margin-top: 1rem;
  }

  .grayimg {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  }

  .form {
    margin-top: 1.5rem;

    .control {
      &.has-text {
        height: auto;
        margin: 1rem 0;
      }

      input.card-expiration {
        width: 150px;
      }

      label.checkbox {
        color: $light-black;
        font-size: 1rem;
        font-family: "BNPPSquare";
      }
    }

    .button {
      background-color: #bb1f70;
      box-sizing: border-box;
      box-shadow: 3px 3px 0 0 #8e1855;
      border: none;
      color: white;
      font-family: "BNPPSquare";
      height: 50px;
      padding: 10px 0px 10px 0px;
      width: 300px;

      &:active {
        background-color: rgb(199, 106, 137);
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        box-shadow: 1px 1px 0 0 #787776;
        background-color: #ebebeb;
        color: #3e3d3c;
        opacity: 0.75;
      }

      &.is-loading:disabled {
        background-color: #bb1f70;
        box-shadow: 3px 3px 0 0 #8e1855;
        color: $white;
        opacity: 0.75;
      }
    }
  }

  .card-icons {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    img {
      height: 35px;
      width: 47px;
    }
  }


  &--title {
    color: #3e3d3c;
    font-family: 'BNPPSquare';
    font-size: 1.9rem;
    margin-top: 40px;
  }

  &--wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  &--description {
    color: #3e3d3c;
    font-family: 'BNPPSquare';
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.2rem;
  }
}

.payAndConsent__block {
  display: inline-block;
  margin-right: 20px;
  font-family: 'BNPPSquare';
  line-height: 0.35;
  box-sizing: border-box;
  margin-bottom: 10px;

  &--last {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--checkDisclaimer {
    margin-top: 30px;
    margin-left: 30px;
  }

  &--confirm {
    margin-top: 40px;
  }
}

.--error {
  color: #ff3860;
}

.payAndConsent--select {
  width: 300px;
  height: 50px;
}

.payAndConsent--cardInput {
  width: 75px;
  height: 50px;
}

.payAndConsent--dueInput {
  width: 140px;
  height: 50px;
}

.payAndConsent--secInput {
  width: 140px;
  height: 50px;
}

.--input {
  padding-left: 10px;
  background: $white;
  border: 1px solid #b0b0ae;
  border-radius: 0;
  box-shadow: inset 3px 3px 0 0 #ebebeb;
  box-sizing: border-box;
  color: $light-black;
  font-family: "BNPPSquare";
  font-size: 1rem;
  font-weight: normal;
  padding: 0 0.9rem;
  transition: .2s all linear;
}

.payAndConsent--nameInput {
  width: 300px;
  height: 50px;
}

.payAndConsent--smsCodeInput {
  width: 300px;
  height: 50px;
}

.payAndConsent--inputFile {
  width: 100%;
  height: 50px;
}

.payAndConsent--realFileInput {
  display: none;
}

.payAndConsent--secondaryBtn {
  width: 140px;
  height: 49px;
  box-shadow: 1px 1px 0 0 #787776;
  background-color: #ebebeb;
  transform: translateY(-1px);
  margin-right: 160px;
}

.--shadowBox {
  background: #fff;
  border: 1px solid #b0b0ae;
  box-shadow: inset 3px 3px 0 0 #ebebeb;
  box-sizing: border-box;
  color: #787776;
}

.--inputError {
  border-left: 1px solid $red;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
  box-shadow: none;

  &--last {
    border-left: 1px solid $red;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
    border-right: 1px solid $red;
    box-shadow: none;

    &:focus {
      box-shadow: 0 0 5px $red;
      outline-color: $red;
    }
  }

  &:focus {
    box-shadow: 0 0 5px $red;
    outline-color: $red;
  }
}

.ng-invalid.ng-touched {
  border-color: $red;

  &:focus {
    box-shadow: 0 0 5px $red;
    outline-color: $red;
  }
}

.payAndConsent--link {
  display: inline-block;
  text-decoration: underline;
  color: #3e3d3c;
  font-family: 'BNPPSquare';
  font-size: 1rem;
}

.payAndConsent--check {
  vertical-align: top;
  transform: translate(-100%, +50%);
  cursor: inherit;
}

.payAndConsent--disclaimer {
  max-width: 95%;
  display: inline-block;
  line-height: 1.3;
  cursor: pointer;
  margin-bottom: 14px;
  box-sizing: border-box;

  color: $black;
  font-family: "BNPPSquare";
  font-size: 1rem;
  font-weight: normal;
  transition: .2s all linear;
}

.--imgblock {
  margin-right: 50px;
  margin-left: 30px;

  .payAndConsent__img {
    width: 47px;
    height: 30px;
    transform: translateY(+30%);
    transition: .4s all linear;
  }


}

.--disabledImg {
  opacity: 0.2;
}

.uploadFile--block {
  margin-bottom: 30px;
}

.payAndConsent__imgSuccess {
  width: 30px;
  height: 30px;
  transform: translate(-45%, +20%);
  visibility: hidden;

  &.--showSuccessImg {
    visibility: visible;
  }
}

.payAndConsent--primaryBtn {
  background-color: #bb1f70;
  color: white;
  font-family: "BNPPSquare";
  box-shadow: 3px 3px 0 0 #8e1855;
  border: none;
  width: 300px;
  padding: 10px 0px 10px 0px;
  position: absolute;
  right: 22px;
  margin-right: 20px;
  box-sizing: border-box;

  &:active {
    background-color: rgb(199, 106, 137);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: #3e3d3c;
    opacity: 0.75;
    box-shadow: 1px 1px 0 0 #787776;
    background-color: #ebebeb;
  }
}

.uploadFile--confirmation {
  margin-bottom: 50px;
}

// desktop
@media only screen and (min-width: 960px) {
  .--nameBlock, .--smsCodeBlock {
    position: absolute;
    right: 22px;
  }

}

// tablet
@media only screen and (min-width: 767px) and (max-width: 959px) {
  .payAndConsent__break--desktop {
    display: none;
  }

  .payAndConsent__block {
    margin-right: 40px;
  }
}

// mobile
@media only screen and (max-width: 766px) {

  .payAndConsent__block {
    width: 100%;

    .payAndConsent--cardInput {
      width: 25%;
    }

    .payAndConsent--nameInput {
      width: 100%;
    }
  }

  .uploadFile--button {
    width: 100%;
    left: 0;

  }

  .payAndConsent__imgSuccess {
    width: 40px;
    height: 40px;
    transform: translateY(+20%);
    visibility: hidden;
    margin: auto;
    left: 200px;
    position: absolute;

    &.--showSuccessImg {
      visibility: visible;
    }
  }

  .--vencimiento {
    margin-left: 0;
    margin-right: 0;
    width: 45%;
  }

  .--securityCode {
    margin-left: 10%;
    margin-right: 0;
    width: 45%;
  }

  .payAndConsent--secInput, .payAndConsent--dueInput {
    width: 100%;
  }

  .--imgblock {
    margin-bottom: 40px;
    margin-left: auto;

    .payAndConsent__img {
      width: 62px;
      height: 40px;
      transform: translateY(+30%);
      transition: .4s all linear;
    }
  }

  .payAndConsent--title {
    text-align: center;
  }

  .short-line {
    margin: auto;
  }

  .payAndConsent--select {
    width: 100%;
    margin-bottom: 10px;
  }

  .payAndConsent--secondaryBtn {
    width: 50%;
    margin-right: 0px;
    float: right;
  }

  .payAndConsent--smsCodeInput {
    width: 100%;
    margin-right: 0px;
  }

  .payAndConsent--primaryBtn {
    right: 0px;
    margin-right: 0px;
    width: 100%;
  }

  #parrafo {
    font-size: 1.4rem !important;
  }

}

.is-invalid {
  color: red !important;
}

.secondaryBtn {
  width: 100%;
  height: 49px;
  box-shadow: 1px 1px 0 0 #787776;
  background-color: #ebebeb;
  transform: translateY(-1px);
  margin-right: 160px;
  cursor: pointer;
}

.secondaryBtnDisabled {
  width: 100%;
  height: 49px;
  box-shadow: inset 2px 2px 5px #787776;
  background-color: #ebebeb;
  transform: translateY(-1px);
  margin-right: 160px;
  color: #a8acaa;
  cursor: not-allowed !important;
}

.is-loading::after {
  -webkit-animation: spinAround .5s infinite linear;
  animation: spinAround .5s infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em
}

.is-loading {
  color: transparent !important;
  pointer-events: none
}

.is-loading::after {
  //position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: relative !important
}


.button {
  background-color: #bb1f70 !important;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 0 0 #8e1855;
  color: white;
  font-family: "BNPPSquare";
  font-size: 1rem;
  height: 100%;
  width: 220px;

  &:active{
    background-color: rgb(199, 106, 137);
  }
  &:hover{
    background-color: #bb1f70 !important;
  }
}

button {
  background: $pink;
  border: none;
  box-shadow: 3px 3px 0 0 #8e1855;
  color: $white;
  float: right;
  font-size: 1rem;
  height: 50px;
  transition: .2s background linear;
  width: 210px;

  &:active{
    background: rgb(199, 106, 137);
  }

  &:focus {
    outline: none;
  }

  &:disabled{
    opacity: 0.65;
  }
}


.short-line {
  background-color: $pink;
  display: block;
  height: 1px;
  margin: 10px 0 20px;
  width: 35px;
}

.button-large{
  width: 50%;
}

.height-auto{
  height: auto !important;
}


.arquetipos{

}

.sin-solicitud{
  color: red;
}

.centrar{
  align-items: center;
}

//id: ENCUESTA
.arquetipo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 125px;

  img{
    width: 50px;
    height: auto;
  }
}


.icono{
  padding: 0px;
  border: 1px solid rgba(199, 106, 137, 0.3);
  border-radius: 10px;
  transition: border 200ms, background-color 1200ms, margin-top 100ms;
  &:hover{
    border: 3px solid  $pink;
    margin-top: -10px;
    border-radius: 10px;
    //background-color: rgba(199, 106, 137, 0.3);
  }
}

.icono-seleccionado{
  border: 3px solid  $pink;
  margin-top: -10px;
  border-radius: 10px;
  background-color: rgba(199, 106, 137, 0.3);
}

.encuesta{
  margin-bottom: 1rem;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  width: 50%;
  display: flex;
  justify-content: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: visible;
  width: 100%;
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px 6px 0 0;
  top: -34px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
/*.tooltip:hover .tooltiptext {
  visibility: visible;
}*/

.button-large{
  width: 100% !important;
}


