<div class="choose-partner-modal">
  <div class="modal" [class.is-active]="!isActive">
    <div class="modal-background"></div>
    <div class="modal-content-img animated delay-1s" [class.zoomIn]="!isActive" [class.zoomOut]="isActive">
      <div class="box">
        <h3 class="modal-title capitalize text-right" (click)="mostrarPopUp(false)"><span class="icon-cerrar">&#10005;</span></h3>
        <div class="modal-body">
          <img id="imgPopUp" [src]="urlPopUp" alt="promo">
        </div>
      </div>
    </div>
  </div>
</div>
