@import "~app/shared/styles/main.scss";

.choose-partner-modal {
  .modal {
    .box {
      background-color: $white;
      border-radius: 1px;
      padding: 1.7rem 1.9rem 1.5rem;
    }

    .short-line {
      background-color: $pink;
      display: block;
      height: 1px;
      margin: 10px 0 3px;
      width: 35px;
    }

    &-background {
      background-color: rgba(0, 0, 0, 0.65);
    }

    &-content {
      max-width: 516px;
      max-height: 100%;
      width: 84%;
    }

    &-content-img {
      max-width: 600px;
      max-height: 100%;
      width: 90%;
    }

    &-title {
      color: #cc0072;
      font-family: "BNPPSquare";
      font-size: 1.25rem;
      font-weight: normal;
      letter-spacing: normal;
    }

    &-body {
      margin: 1.5rem 0 0.4rem;

      .detail {
        color: $black;
        font-family: "BNPPSquare";
        font-size: 1rem;
        line-height: normal;
      }
    }

  }
}
