<div class="risk-detail-modal">
  <div class="modal" [class.is-active]="isActive">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h3 class="modal-title">{{ risk.descripcion | decode }}</h3>
        <span class="short-line"></span>
        <div class="modal-body">
          <p class="detail">{{ risk.detalle || 'Por completar...' | decode }}</p>
          <div class="control buttons">
            <button class="btn capitalize" type="button" (click)="handleCloseModal()">Entendido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
