@import "~app/shared/styles/_variables.scss";

.risk-detail-modal {
  .modal {
    .box {
      background-color: $white;
      border-radius: 1px;
      padding: 1.7rem 1.9rem 1.5rem;
    }

    .short-line {
      background-color: $pink;
      display: block;
      height: 1px;
      margin: 10px 0 3px;
      width: 35px;
    }

    &-background {
      background-color: rgba(0, 0, 0, 0.65);
    }

    &-content {
      max-width: 516px;
      max-height: 100%;
      width: 84%;
    }

    &-title {
      color: #cc0072;
      font-family: "BNPPSquare";
      font-size: 1.25rem;
      font-weight: normal;
      letter-spacing: normal;
    }

    &-body {
      margin: 1.5rem 0 0.4rem;

      .detail {
        color: $black;
        font-family: "BNPPSquare";
        font-size: 1rem;
        line-height: normal;
      }

      .control {
        justify-content: flex-end;
        margin-top: 2.5rem;
      }

      .btn {
        background: $pink;
        border: none;
        box-shadow: 3px 3px 0 0 #8e1855;
        color: $white;
        font-family: "BNPPSquare";
        font-size: 1rem;
        height: 50px;
        width: 150px;

        &:focus{
          outline: none;
        }
      }
    }
  }
}
