<div class="cancel-operation-modal">
  <div class="modal" [class.is-active]="isActive">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h3 class="modal-title">{{ title }}</h3>
        <span class="short-line"></span>
        <div class="modal-body">
          <p class="question">{{ question }}</p>
          <form name="form-cancel-operation" #f="ngForm" autocomplete="off" novalidate (submit)="onSubmit()">
            <div class="control">
              <label class="option" *ngFor="let item of reasons" [for]="item.id">
                <input type="radio" [value]="item.id" name="anwser" ngModel [id]="item.id" required />
                <span class="radio"></span>
                <span class="textt">{{ item.description }}</span>
              </label>
            </div>
            <div class="control buttons">
              <button class="button button-back" type="button" (click)="handleCloseModal()" [disabled]="isLoading">volver</button>
              <button class="button button-send" [class.is-loading]="isLoading" [disabled]="f.invalid || isLoading" type="submit">enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
