@import "~app/shared/styles/_variables.scss";

.cancel-operation-modal {
  .modal {
    .box {
      background-color: $white;
      border-radius: 1px;
      padding: 1.7rem 1.9rem 1.25rem;
    }

    .short-line {
      background-color: $pink;
      display: block;
      height: 1px;
      margin: 10px 0 3px;
      width: 35px;
    }

    .question {
      color: $black;
      font-family: "BNPPSquare";
      font-size: 1rem;
      line-height: normal;
    }

    .control {
      .option {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        font-family: "BNPPSquare";
        font-size: 1rem;
        height: 26px;
        line-height: 26px;
        padding-left: 11px;
        margin: 0.5rem 0;

        input[type="text"] {
          color: $light-black;
          font-family: "BNPPSquare";
          margin-left: -0.4rem;
          padding-left: 0.4rem;
          width: 100%;
          &:focus {
            outline: none;
          }
        }

        input[type="radio"] {
          display: none;

          &:checked ~ .text {
            color: $black;
          }

          &:checked ~ .radio {
            border-color: $pink;
          }

          &:checked ~ .radio:after {
            background: $black;
          }
        }

        .text {
          color: $light-black;
        }

        .radio {
          box-sizing: border-box;
          background: $white;
          border-radius: 50%;
          border: 1px solid $gray;
          height: 15px;
          margin-top: 6px;
          margin-right: 12px;
          position: relative;
          transition: .3s border linear;
          width: 15px;

          &:after {
            content: "";
            box-sizing: border-box;
            border-radius: 50%;
            color: red;
            display: block;
            height: 8px;
            left: 2.5px;
            position: absolute;
            transition: .3s background linear;
            top: 2.5px;
            width: 8px;
          }
        }
      }

      &.buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;

        .button {
          border: none;
          font-family: "BNPPSquare";
          font-size: 1rem;
          text-transform: capitalize;
          width: 110px;

          &:focus{
            outline: none;
          }
        }

        .button-back {
          background: $white;
          color: $pink;
          margin-right: 6px;
        }

        .button-send {
          background: $pink;
          color: $white;
          height: 50px;
          box-shadow: 3px 3px 0 0 #8e1855;
          float: right;

          &:active{
            background-color: rgb(199, 106, 137);
          }

          &:disabled{
            opacity: 0.65;
          }
        }
      }
    }

    &-background {
      background-color: rgba(0, 0, 0, 0.65);
    }

    &-content {
      max-width: 516px;
      max-height: 100%;
      width: 84%;
    }

    &-title {
      color: $pink;
      font-family: "BNPPSquare";
      font-size: 1.25rem;
      font-weight: normal;
      letter-spacing: normal;
    }

    &-body {
      margin: 1.5rem 0 0.4rem;
    }
  }
}

// mobile
@media only screen and (max-width : 766px) {
  .cancel-operation-modal {
    .modal {
      .box {
        padding: 1.5rem 1.1rem 1rem;
      }

      .short-line {
        width: 22px;
      }

      .question {
        font-size: 0.875rem;
      }

      .control {
        .option {
          font-size: 0.875rem;
          padding-left: 7px;

          .radio {
            height: 13px;
            width: 13px;
            &:after {
              height: 6px;
              width: 6px;
            }
          }
        }

        &.buttons {
          margin-top: 0.875rem;

          .btn {
            font-size: 0.875rem;
            height: 40px;
            width: 105px;
          }
        }
      }

      &-title {
        font-size: 1rem;
      }

      &-body {
        margin: 1.1rem 0 0.2rem;
      }
    }
  }
}
