@import "~app/shared/styles/_variables.scss";

.changePass {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;

  .--error {
    color: $red;
  }

  .short-line {
    background: #656463;
    display: block;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35px;
  }

  &--title {
    color: #3e3d3c;
    font-family: 'BNPPSquare';
    font-size: 1.9rem;
    margin-top: 0;
  }

  &--description {
    color: #3e3d3c;
    font-family: 'BNPPSquare';
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &--wrapper {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    width: 94%;
  }
}

.changePass__leftpanel {
  box-sizing: border-box;
  float: left;
  width: 50%;
  margin-top: 20px;
}

.changePass__rightpanel {
  min-height: 420px;
  box-sizing: border-box;
  float: right;
  width: 50%;
  margin-top: 0;
}

.changePass__input {
  background: #fff;
  border: 1px solid #b0b0ae;
  box-shadow: inset 3px 3px 0 0 #ebebeb;
  box-sizing: border-box;
  color: #787776;
  height: 50px;
  font-family: "BNPPSquare";
  font-size: 1rem;
  padding-left: 1rem;
  margin-right: 20px;
  width: 100%;

  &:focus{
      outline: none;
  }
}

.changePass__btn {
  font-family: "BNPPSquare";
  font-size: 1rem;
  width: 40%;
  margin-left:5%;
  height: 50px;
}



.secondary--btn {
  
  
  font-family: "BNPPSquare";
  box-shadow: 3px 3px 0 0 gray;
  border: none;

 
  &:focus{
    outline: none;
  }
  &:disabled{
    opacity: 0.65;
  }
}

.primary--btn {
  background-color: #bb1f70;
  color: white;
  font-family: "BNPPSquare";
  box-shadow: 3px 3px 0 0 #8e1855;
  border: none;

  &:active{
    background-color: rgb(199, 106, 137);
  }
  &:focus{
    outline: none;
  }
  &:disabled{
    opacity: 0.65;
  }
}

.changePass__infobox--btn {
  display:none;
  width: 80%;
  position: relative;
  margin-left: 10%;
  padding: 10px;
  margin-bottom: 20px;
}

.changePass__img--question {
  float: right;

  width: 2em;
  height: 2em;
  transform: translateY(-15%);
}

.--newinput {
  margin-bottom: 10px;
}

.changePass__infobox {
    box-sizing: border-box;
    background-color: #656462;
    color: #fefefe;
    position: relative;
    width: 95%;
    min-height: inherit;
    float: right;

    &--title {
      display: inline-block;
      font-family: 'BNPPSquare';
      margin-right: 20px;
      margin-top: 40px;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    &--line {
      background: #fefefe;
      display: block;
      height: 1px;
      margin-bottom: 10px;
      margin-left: 20px;
      width: 30px;
    }

    &--description {
      font-family: 'BNPPSquare';
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      font-size: 0.8rem;
    }

    &--list {
      list-style: none;
      font-size: 0.8rem;
    }

    &--item {
      margin-bottom: 20px;
      margin-right: 20px;
      margin-left: 20px;
      &::before {
        content: "-";
        text-indent: -5px;
      }
    }
}

.arrow {
  display: inline-block;
  position: relative;
  left: 3%;
  top: 197px;
  z-index: 1;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #656462;
}

.changePass__overlay {
  position:fixed;
  z-index:20;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgb(0,0,0);
  opacity: 0.5;
  display: none;
}

.--inputError {
  border-left: 1px solid $red;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
  box-shadow: none;

  &:focus{
    box-shadow: 0 0 5px $red;
    outline-color: $red;
  }
}

// mobile
@media only screen and (max-width : 766px) {

  .changePass {
    margin-bottom: 50px;
  }

  .changePass__rightpanel {
    box-sizing: border-box;
    border: none;
    position: fixed;
    overflow-y: scroll;
    width: 90%;
    margin: auto;
    transform: translateY(-28%);
    min-height: 0;
    z-index: 21;
  }

  .changePass__rightpanel--hidden {
    display:none;
  }

  .changePass__infobox {
    height: 100%;
    background-color: #fefefe;
    color: #3e3d3c;

    &--line {
      background-color: #bb1f70;
      margin-bottom: 15px;
    }

    &--title {
      color: #bb1f70;
    }
  }

  .arrow {
    display:none;
  }

  .changePass__leftpanel {
    width: 100%;
  }

  .changePass__img--question {
    cursor: pointer;
  }

  .changePass__infobox--btn {
    display: inline-block;
  }

  .changePass__overlay {
    display:block;
  }

}
