<div class="changePass__overlay" *ngIf="isInfoVisible"></div>

<section class="changePass">
  <div class=" changePass--wrapper">
    <div class="changePass__leftpanel">
      <h4 class="changePass--title">Cambiar contraseña</h4>
      <span class="short-line"></span>
      <form [formGroup]="changePassForm" class="form" (ngSubmit)="onSubmit()" name="changePassForm" autocomplete="off">
        <div class="field" [class.is-invalid]="changePassForm.controls.password.invalid && changePassForm.controls.password.touched">
          <label class="label">
            {{
              changePassForm.controls.password.invalid && changePassForm.controls.password.touched
              ? 'La contraseña es obligatoria!' : 'Ingresa tu constraseña actual'
            }}
          </label>
          <div class="control">
            <input class="text" type="password" name="password" placeholder="Contraseña actual" formControlName="password" />
          </div>
        </div>

        <div class="field"
          [class.is-invalid]="
            changePassForm.controls.newpassword.invalid && changePassForm.controls.newpassword.touched ||
            changePassForm.controls.newpassword2.invalid && changePassForm.controls.newpassword2.touched
          ">
          <label class="label">
            {{
              changePassForm.controls.newpassword.invalid && changePassForm.controls.newpassword.touched ||
              changePassForm.controls.newpassword2.invalid && changePassForm.controls.newpassword2.touched
              ? errorMsg : 'Ingresa tu nueva constraseña'
            }}
            <img class="changePass__img--question" (click)="showInfo();" [src]="'assets/img/icon_question.svg'" alt="" />
          </label>
          <div class="control">
            <input class="text" type="password" name="newpassword" placeholder="Nueva Contraseña" formControlName="newpassword" />
          </div>
        </div>

        <div class="field" [class.is-invalid]="changePassForm.controls.newpassword2.invalid && changePassForm.controls.newpassword2.touched">
          <div class="control">
            <input class="text" type="password" name="newpassword2" placeholder="Repetir nueva Contraseña" formControlName="newpassword2" />
          </div>
        </div>

        <div class="field">
          <div class="control">
              <button class="changePass__btn secondary--btn button" (click)="back()">Cancelar</button>
            <button class="changePass__btn primary--btn button" [disabled]="changePassForm.invalid">Actualizar contraseña</button>
          </div>
        </div>
      </form>
    </div>

    <div class="changePass__rightpanel" [ngClass]="{'changePass__rightpanel--hidden':!isInfoVisible}">
      <div class="arrow"></div>
      <div class="changePass__infobox">
          <h4 class="changePass__infobox--title">Políticas de seguridad para el formato de contraseñas</h4>
          <span class="changePass__infobox--line"></span>
          <p class="changePass__infobox--description">
            La nueva contraseña debe ser distinta a las 2 anteriores. En este punto
            cabe aclarar que la primera contraseña, generada por el Administrador
            para los usuarios, cuenta como contraseña a considerar para NO ser repetida.
          </p>
          <p class="changePass__infobox--description">
            La contraseña debe incluir al menos 8 caracteres, siendo estos:
          </p>
          <ul class="changePass__infobox--list">
            <li class="changePass__infobox--item">
              Al menos 2 caracteres alfabéticos (mayúsculas y minusculas).
            </li>
            <li class="changePass__infobox--item">
              Al menos 1 caracter númerico.
            </li>
            <li class="changePass__infobox--item">
              Al menos 1 caracter especial - cualquier caracter no alfabético que sea
              especial ($ & @ ...), puntuación (; : , ...) o un símbolo de algún otro tipo
              (> < + = ...) -
            </li>
          </ul>

          
          <button class="primary--btn changePass__infobox--btn" (click)="showInfo();">
            Entendido
        </button>
      </div>
    </div>
  </div>
</section>
