@import "~app/shared/styles/_variables.scss";

.choose-plan {
  width: 100%;

  &__table {
    width: 100%;
    .plan-header-item {
      color: #ff0074;
      display: flex;
      flex-direction: column;
      font-family: "BNPPSquare";
      height: 40px;
      line-height: 1rem;

      .plan-code {
        font-family: "BNPPSquare-Bold";
        font-size: 14px;
      }
      .plan-price {
        font-size: 12px;
      }
    }

    .plan-row {
      height: 40px;
      line-height: 40px;

      .risk-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
          font-family: "BNPPSquare-Bold";
          font-size: 12px;
          line-height: 1rem;
          width: calc(100% - 60px);
        }

        .icon {
          background: #dedad5;
          border-radius: 50%;
          color: white;
          cursor: pointer;
          font-size: 10px;
          height: 18px;
          width: 18px;
        }
      }

      &:nth-child(even) {
        background: $light-gray;
      }

      td {
        &:first-child {
          padding: 0.5rem;
          width: 360px;
        }
        &:nth-child(n + 2) {
          color: #7a7775;
          border-left: 1px solid #dedad5;
          font-family: "BNPPSquare";
          font-size: 12px;
          text-align: center;
        }
      }
    }

    thead {
      .header-row-cobertura {
        th {
          color: #3f3d3c;
          font-family: "BNPPSquare-Bold";
          font-size: 12px;
          line-height: 38px;

          &:nth-child(n + 2) {
            border-left: 1px solid #dedad5;
            border-top: 1px solid #dedad5;
          }

          &:last-child {
            border-right: 1px solid #dedad5;
          }
        }
      }
    }

    tbody {
      border: 1px solid #dedad5;
    }

    tbody.footer {
      background: $white;
      border: none;

      td {
        border-right: 1px solid $white;

        button {
          border: none;
        }

        &:last-child {
          border-right-width: 0;
        }
      }
    }
  }
}

.btn--primary {
  width: 100%;
  background-color: #cc0072;
  color: white;
  font-family: "BNPPSquare";
  font-size: 12px;
  height: 50px;

  &:active{
    background-color: rgb(199, 106, 137);
  }

  &:focus{
    outline: none;
  }

  .bottom-row {
    border: none;
  }
}
