<div class="choose-plan" *ngIf="plans.length">
  <div class="choose-plan--wrapper">
    <table class="choose-plan__table">
      <thead>
        <tr class="header-row">
          <th></th>
          <th *ngFor="let item of tableHead.head" colspan="1"> 
            <div class="plan-header-item text-center">
              <span class="plan-code upper">
                {{ item.plan  | decode }} 
              </span>
              <span clasS="plan-price">
                  {{ item.precio  | amountFormat }} 
               <!--  {{ item.precios[0].precio | amountFormat }} / mes  -->
              </span>
            </div>
          </th>
        </tr>
        <tr class="header-row header-row-cobertura">
          <th></th>
          <th class="plan-cobertura text-center" *ngFor="let item of tableHead.head" colspan="1">
            Cobertura
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="plan-row" *ngFor="let risk of tableHead?.body?.planes | keyvalue">
          <td>
            <div class="risk-detail">
              <span class="name">
                {{ risk?.key | decode }}
              </span>   
              
            </div>
          </td>
           <td *ngFor="let plan of tableHead?.head" colspan="1">{{  risk?.value | arrayvalue: plan.plan | amountFormat  }}</td> 
        </tr>
      </tbody>
      <tbody class="footer">
        <tr class="bottom-row">
          <td></td>
          <td *ngFor="let item of tableHead.head">
            <button class="btn--primary" (click)="selectPlan(item)">Seleccionar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-risk-detail-modal [isActive]="isModalActive" [risk]="selectedRisk" (closeModal)="closeModal($event)"></app-risk-detail-modal>
</div>
