<section class="latest-sales">
  <div class="container">
    <h2 class="latest-sales--header">
      <span class="title upper">Ver reportes de ventas</span>
      <span class="toggle icon" (click)="toggleView()">
        <fa-icon [icon]="icon"></fa-icon>
      </span>
    </h2>
    <div *ngIf="isOpen">
      <div class="">
        <!--      ===============================================================================================================-->
        <!--      filtros-container    -->
        <!--      ===============================================================================================================-->
        <div class="filtros-container">
          <div class="options mb-2">

            <div class=" column is-3-desktop is-6-tablet is-12-mobile ">
              <button class="button-download" (click)="mostrarFiltros = !mostrarFiltros" *ngIf="!mostrarFiltros">
                Ver filtros <i class="ml-1 fa fa-sort-amount-asc"> </i>
              </button>
              <button class="button-download" (click)="mostrarFiltros = !mostrarFiltros" *ngIf="mostrarFiltros">Cerrar
                filtros <i
                  class="ml-1 fa fa-close"> </i>
              </button>
            </div>

          </div>

          <div class="filtros " *ngIf="mostrarFiltros">

            <div class="columns">
              <div class=" column is-4-desktop is-6-tablet is-12-mobile ">
                <label for="nroDocumento"> <i class="fa fa-address-card fa-1x pr-0"></i> Por DNI cliente: </label>
                <input type="number" name="nroDocumento" id="nroDocumento" class="input-field"
                       [(ngModel)]="$nroDoc">
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <label for="nombreCliente"><i class="fa fa-user fa-1x pr-0"></i> Por nombre cliente: </label>
                <input type="text" name="nombreCliente" id="nombreCliente" class="input-field"
                       [(ngModel)]="$nombreCliente">
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <label for="apellido"><i class="fa fa-user fa-1x pr-0"></i> Por apellido cliente: </label>
                <input type="text" name="apellido" id="apellido" class="input-field"
                       [(ngModel)]="$apellidoCliente">
              </div>

            </div>


            <div class="columns">
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <label> <i class="fa fa-archive fa-1x pr-0"> </i> Por productos: </label>
                <ng-selectize [(ngModel)]="$productoElegido"
                              [options]="listaProductos"
                              [config]="currentOptionsConfig">
                </ng-selectize>
              </div>

              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <div class="sort">
                  <label> <i class="fa fa-bars fa-1x pr-0"> </i> Por estados: </label>
                  <ng-selectize [(ngModel)]="$estado"
                                [options]=" listaDeEstados "
                                [config]=" currentOptionsConfig ">
                  </ng-selectize>
                </div>
              </div>
            </div>

            <div class="columns" *ngIf="esSupervisor || esAdministrador " >
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <label> <i class="fa fa-users fa-1x pr-0"> </i> Por vendedores: </label>
                <ng-selectize [(ngModel)]="$vendedorElegido"
                              [options]="listaVendedores"
                              [config]="currentOptionsConfig"
                ></ng-selectize>
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <label> <i class="fa fa-user-plus fa-1x pr-0"> </i> Por supervisores: </label>
                <ng-selectize [(ngModel)]="$supervisorElegido"
                              [options]="listaSupervisores"
                              [config]="currentOptionsConfig"
                ></ng-selectize>
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <label> <i class="fa fa-home fa-1x pr-0"> </i> Por sucursales: </label>
                <ng-selectize [(ngModel)]="$sucuElegida"
                              [options]="listaSucursales"
                              [config]="currentOptionsConfig">
                </ng-selectize>
              </div>
            </div>

            <div class="columns" *ngIf="cambio">
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <label> <i class="fa fa-calendar fa-1x pr-0"> </i> Fecha desde: </label>
                <ng-datepicker [(ngModel)]="fechaDesde" [options]="options"
                               position="top-right"></ng-datepicker>
              </div>

              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <label> <i class="fa fa-calendar fa-1x pr-0"> </i> Fecha hasta: </label>
                <ng-datepicker [(ngModel)]="fechaHasta" [options]="options"
                               position="top-right"></ng-datepicker>
              </div>
            </div>

            <div class="columns" *ngIf="!cambio">
              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <label> <i class="fa fa-calendar fa-1x pr-0"> </i> Fecha desde: </label>
                <ng-datepicker [(ngModel)]="fechaDesde" [options]="options"
                               position="top-right"></ng-datepicker>
              </div>

              <div class="column is-6-desktop is-6-tablet is-12-mobile">
                <label> <i class="fa fa-calendar fa-1x pr-0"> </i> Fecha hasta: </label>
                <ng-datepicker [(ngModel)]="fechaHasta" [options]="options"
                               position="top-right"></ng-datepicker>
              </div>
            </div>
            <br>
            <div class="columns mb-2 ">
              <div class="column text-center is-6-desktop is-6-tablet is-12-mobile mr-0">
                <button class="button-download" (click)="limpiarFiltros()">Limpiar <i class="ml-1 fa fa-stack"> </i>
                  <i class="ml-1 fa fa-eraser"> </i>
                </button>
              </div>
              <br>
              <div class="column text-center is-6-desktop is-6-tablet is-12-mobile">
                <button class="button-download" (click)="enviarFiltro()"> Filtrar
                  <i class="ml-1 fa fa-filter"> </i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-12-desktop is-12-tablet is-12-mobile" *ngIf="!allSales.length">
          <div class=" mensaje animated bounceIn">
            No hay registros, seleccione algun filtro.
          </div>
        </div>
        <!--      FIN filtros-container ===============================================================================================================-->


        <!--      ===============================================================================================================-->
        <!--      table-container    -->
        <!--      ===============================================================================================================-->
        <div class="" *ngIf="allSales.length">
          <table class="sales-table">
            <thead>
            <tr>
              <th class="th-item text-center" (click)=" ordenar('fechaActualizacion', item1, mostrarFecha = !mostrarFecha )">  Fecha <i #item1 id="item1" class="items fa fa-caret-down"  aria-hidden="true"> </i>  </th>
              <th class="th-item text-center" (click)=" ordenar('idVenta', item2, mostrarVenta = !mostrarVenta )">  Nº Venta <i #item2 id="item2" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('numeroCertificado', item3, mostrarCert = !mostrarCert )">   Nº Certificado <i #item3 id="item3" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('dni', item4, mostrarDni = !mostrarDni )">  DNI <i #item4 id="item4" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('nombreCliente', item5, mostrarCliente = !mostrarCliente )">  Nombre apellido <i #item5 id="item5" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('descripcionProducto', item6, mostrarPrd = !mostrarPrd )"> Producto <i #item6 id="item6" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('idPlanElegido', item7, mostrarPlan = !mostrarPlan )"> Plan <i #item7 id="item7" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('estado', item8, mostrarEstado = !mostrarEstado )"> Estado <i #item8 id="item8" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('nombreVendedor', item9, mostrarVend = !mostrarVend )"> Nombre vendedor <i #item9 id="item9" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('dniVendedor', item10, mostrarSuper = !mostrarSuper )"> DNI vendedor <i #item10 id="item10" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('nombreSupervisor', item11, mostrarDniVend = !mostrarDniVend )"> Nombre supervisor <i #item11 id="item11" class="items fa"  aria-hidden="true"> </i> </th>
              <th class="th-item text-center" (click)=" ordenar('nombreSucursal', item12, mostrarSucu = !mostrarSucu )"> Sucursal <i #item12 id="item12" class="items fa"  aria-hidden="true"> </i> </th>
            </tr>
            </thead>
            <tbody>
            <tr class="sale-row" *ngFor="let sale of allSales  | paginate: { itemsPerPage: 11, currentPage: page }">
              <th style="min-width: 100px">{{ sale.fechaActualizacion }}</th>
              <th>{{ sale.idVenta }}</th>
              <th>{{ sale.numeroCertificado }}</th>
              <th>{{ sale.dni }}</th>
              <th>{{ sale.nombreCliente }}</th>
              <th>{{ sale.descripcionProducto }}</th>
              <th>{{ sale.idPlanElegido }}</th>
              <th>{{ sale.estado }}</th>
              <th>{{ sale.nombreVendedor }}</th>
              <th>{{ sale.dniVendedor }}</th>
              <th>{{ sale.nombreSupervisor }}</th>
              <th>{{ sale.nombreSucursal }}</th>
            </tr>
            </tbody>
          </table>

          <!--      ===============================================================================================================-->
          <!--      table-footer    -->
          <!--      ===============================================================================================================-->
          <div class="table-footer columns mt-0">

            <pagination-controls class="column is-5-desktop is-6-tablet is-12-mobile " autoHide="false"
                                 directionLinks="false" (pageChange)="page = $event"></pagination-controls>

            <div class=" column is-5-desktop is-6-tablet is-12-mobile is-flex flex-between">
              Exportar ordenado por:
              <div class="select">
                <select [(ngModel)]="field" (change)="orderBy(sales, false)">
                  <option *ngFor="let item of fields" [value]="item.key">
                    {{ item.text | dashboardSelect }}
                  </option>
                </select>
              </div>
            </div>

            <div class=" column is-2-desktop is-6-tablet is-12-mobile is-flex flex-right ">
              <button id="button-download" class="button-download" (click)="exportData()">
                Exportar
                <span class="icon">
                <fa-icon icon="file-excel"></fa-icon>
              </span>
              </button>
            </div>

          </div>
          <!-- fin table-footer ===============================================================================================================-->
        </div>
        <!-- fin table-container ===============================================================================================================-->
      </div>
    </div>
    <!--        fin ngIF ===============================================================================================================-->

  </div>
  <!-- fin container ===============================================================================================================-->
</section>
