@import "~app/shared/styles/_variables.scss";

.latest-sales {
  background: #ebebeb;
  box-sizing: border-box;
  display: block;
  min-height: 100px;
  padding: 1.25rem 0;
  width: 100%;

  .container {
    width: 96%;
    max-width:96%;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1rem auto;
    text-align: left;
    width: 100%;

    .title {
      color: $black;
      font-family: "BNPPSquare";
      font-size: 1.25rem;
    }

    .toggle {
      border-radius: 50%;
      background: $white;
      color: $black;
      cursor: pointer;
      font-size: 14px;
      height: 29px;
      width: 29px;
    }
  }

  .options {
    display: flex;
    width: 100%;
    //margin-bottom: 2rem;

    /*    margin-bottom: 1.5rem;
        width: 100%;*/

    .sort {
      width: 100%;
      font-size: 1rem;
      line-height: 42px;

      .select {
        height: 42px;
        margin-left: 0.5rem;
        width: 150px;

        &:after {
          border-color: #787776;
        }
      }

      select {
        background: $white;
        border: 1px solid #b0b0ae;
        border-radius: 0;
        box-shadow: inset 3px 3px 0 0 #ebebeb;
        box-sizing: border-box;
        color: $light-black;
        font-family: "BNPPSquare";
        font-size: 1rem;
        font-weight: normal;
        height: 100%;
        padding: 0 0.9rem;
        transition: .2s all linear;
        width: 100%;
      }
    }

    .button-download {
      background-color: #bb1f70;
      border: none;
      box-shadow: 3px 3px 0 0 #8e1855;
      color: white;
      font-family: "BNPPSquare";
      font-size: 0.875rem;
      height: 42px;
      line-height: 42px;
      width: 200px;

      .icon {
        font-size: 1rem;
        margin-left: 0.5rem;
      }

      &:focus {
        outline: none;
      }
    }

    .boton-filtro {
      background-color: #bb1f70;
      border: none;
      box-shadow: 3px 3px 0 0 #8e1855;
      color: white;
      font-family: "BNPPSquare";
      font-size: 0.875rem;
      height: 42px;
      line-height: 42px;
      width: 250px;

      .iconx {
        font-size: .8rem;
        margin-left: 0.5rem;
      }

      &:focus {
        outline: none;
      }
    }

    .lista-sucursal {
      background-color: #bb1f70;
      border: none;
      box-shadow: 3px 3px 0 0 #8e1855;
      color: white;
      font-family: "BNPPSquare";
      font-size: 0.875rem;
      height: auto;
      line-height: 42px;
      width: 250px;
      padding: 1rem;


      &:focus {
        outline: none;
      }
    }
  }

  .sales-table {
    background: $white;
    border: 1px solid #dedad5;
    width: 100%;
    margin: 0 auto;
    overflow-scrolling: auto !important;

    .th-item {
      color: $black;
      font-family: "BNPPSquare-Bold";
      font-size: 12px;
      padding: 0.5rem 0.8rem;
      border-bottom: 1px solid $light-gray;
    }

    .sale-row {
      height: 2rem;
      line-height: 2rem;

      &:nth-child(even) {
        background: $light-gray;
      }

      th {
        color: $light-black;
        font-family: "BNPPSquare-Light";
        font-size: 12px;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}


// mobile
@media only screen and (max-width: 766px) {
  .wrapper-component {
    min-height: 50px;
    padding: 11px 0 15px;

    &--header {
      .title {
        font-size: 16.2px;
      }
    }
  }
}

.checkbox{
margin-right: .4rem;
}

.input-field{
    background-color: ghostwhite;
    border: none;
    border-bottom: 1px solid #bb1f70;
    border-radius: 0;
    outline: none;
    height: 1.5rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.day-unit.is-today{
  background-color: #bb1f70 !important;
}


.table-footer {
  margin: 0 auto;
  width: 100% !important;
}

.column{
  padding: 0.2rem 0.3rem !important
}

.mensaje{
  font-size: 1rem;
  border-left: 2px solid #bb1f70;
  border-right: 2px solid #bb1f70;
  background-color: transparent;
  color: black;
  text-align: center;
  padding: .5rem;
  width: 100%;

}

.filtros{
  background-color: ghostwhite !important;
  padding: 1rem;
  margin-bottom: 1rem;
}

.columns {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.latest-sales[_ngcontent-c10] .sales-table[_ngcontent-c10] .sale-row[_ngcontent-c10] th[_ngcontent-c10] {
  font-size: 10px !important;
}

.latest-sales[_ngcontent-c10] .sales-table[_ngcontent-c10] .th-item[_ngcontent-c10] {
  font-size: 10px !important;

}

table{
  overflow-x: scroll !important;
}

.filtros-container{
  font-family: "BNPPSquare";
}
.button-download {
  background-color: #bb1f70;
  border: none;
  box-shadow: 3px 3px 0 0 #8e1855;
  color: white;
  font-family: "BNPPSquare";
  font-size: 0.875rem;
  height: 42px;
  width: 200px;

  .icon {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}
