<div class="address-form">
  <div class="container">
    <form name="form-address" class="form" #f="ngForm" autocomplete="off" novalidate>
      <div class="columns">
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field is-grouped is-grouped-2-1" [class.is-invalid]="((calle.invalid && calle.touched) || (numero.invalid && numero.touched))">
            <label class="label">{{ calle.invalid && calle.touched ? 'Ingrese un domicilio válido' : 'Calle: * - Numero: *'}}</label>
            <div class="control">
              <input name="calle" class="input" type="text" [(ngModel)]="model.calle" #calle="ngModel" placeholder="Calle" required />
            </div>
            <div class="control">
              <input name="numero" class="input" type="text" appNumbersOnly="true" [(ngModel)]="model.numero" #numero="ngModel" [Type]="typeAlt" placeholder="Número." required />
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field is-grouped is-grouped-1">
            <label class="label">Piso: - Departamento: - Torre:</label>
            <div class="control">
              <input class="input" type="text" placeholder="Piso" name="piso" #piso="ngModel" [(ngModel)]="model.piso" />
            </div>
            <div class="control">
              <input class="input" type="text" placeholder="Depto." name="departamento" #departamento="ngModel" [(ngModel)]="model.departamento" />
            </div>
            <div class="control">
              <input class="input" type="text" placeholder="Torre" name="torre" #torre="ngModel" [(ngModel)]="model.torre" />
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="idProvincia.invalid && idProvincia.touched">
            <label class="label">
              {{ idProvincia.invalid && idProvincia.touched ? 'Seleccione una opción válida' : 'Provincia'}}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!provinceList.length">
                <select name="idProvincia" [(ngModel)]="model.id_provincia" (change)="handleChange()" #idProvincia="ngModel" required >
                  <option value="">Seleccione provincia: *</option>
                  <option *ngFor="let item of provinceList" [value]="item.id">
                    {{ item.descripcion | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field is-grouped is-grouped-2-1"
            [class.is-invalid]="idLocalidad.invalid && idLocalidad.touched || codigoPostal.invalid && codigoPostal.touched">
            <label class="label">
              {{ idLocalidad.invalid && idLocalidad.touched ? 'Seleccione una opción válida: *' : codigoPostal.invalid && codigoPostal.touched ? 'Ingresa un codigo postal válido' : 'Localidad - código postal' }}
            </label>
            <div class="control">
              <div class="select">
                <select name="idLocalidad" [(ngModel)]="model.idLocalidad" #idLocalidad="ngModel" required [disabled]="!localityListFiltered.length">
                  <option value="">Seleccione localidad: *</option>
                  <option *ngFor="let item of localityListFiltered" [value]="item.idLocalidad">
                    {{ item.localidad | decode }}
                  </option>
                </select>
              </div>
            </div>
            <div class="control has-icons-right">
              <input name="codigoPostal" class="input" type="text" [(ngModel)]="model.codigoPostal" #codigoPostal="ngModel" placeholder="CPA" appNumbersOnly="true" [Type]="typeCpa"  />
              <a [href]="CPALink" target="_blank" class="icon is-small is-right">
                <fa-icon icon="link"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
      <app-next-button  [isDisabled]="f.invalid" (nextAction)="cargar()"></app-next-button>

    </form>

  </div>
</div>
