@import "~app/shared/styles/_variables.scss";

.abm-sucursales {
  background: #ebebeb;
  box-sizing: border-box;
  display: block;
  min-height: 100px;
  padding: 1.25rem 0;
  width: 100%;
  font-family: "BNPPSquare";

  .container {
    width: 96%;
    max-width: 96%;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1rem auto;
    text-align: left;
    width: 100%;

    .title {
      color: $black;
      font-family: "BNPPSquare";
      font-size: 1.25rem;
    }

    .toggle {
      border-radius: 50%;
      background: $white;
      color: $black;
      cursor: pointer;
      font-size: 14px;
      height: 29px;
      width: 29px;
    }
  }

  &--body {

  }

  &--table {
    width: 100%;
  }

  .button-download {
    background-color: #bb1f70;
    border: none;
    box-shadow: 3px 3px 0 0 #8e1855;
    color: white;
    font-family: "BNPPSquare";
    font-size: 0.875rem;
    height: 42px;
    line-height: 42px;
    width: 200px;

    .icon {
      font-size: 1rem;
      margin-left: 0.5rem;
    }

    &:focus {
      outline: none;
    }

    .filtros {
      background-color: ghostwhite !important;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }

  .notificatrion {
    font-family: "BNPPSquare" !important;
    font-size: 1.25rem !important;
  }

  .is-primary {
    background-color: $pink;
  }

  .is-danger {
    background-color: $red !important;
  }

  .sales-table {
    background: $white;
    border: 1px solid #dedad5;
    width: 100%;
    margin: 0 auto;
    overflow-scrolling: auto !important;

    .th-item {
      color: $black;
      font-family: "BNPPSquare-Bold";
      font-size: 12px;
      padding: 0.5rem 0.8rem;
      border-bottom: 1px solid $light-gray;
    }

    .sale-row {
      height: 2rem;
      line-height: 2rem;

      &:nth-child(even) {
        background: $light-gray;
      }

      th {
        color: $light-black;
        font-family: "BNPPSquare-Light";
        font-size: 12px;
        text-align: center;
        text-transform: capitalize;
      }
    }

    .fa:hover {
      color: #bb1f70;
      cursor: pointer;
    }
  }
}

.table-footer {
  margin: 0 auto;
  width: 100% !important;
}

.filtros {
  background-color: ghostwhite !important;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}

.short-line {
  background-color: $pink;
  display: block;
  height: 1px;
  margin: 10px 0 3px;
  width: 35px;
}

.button-disabled {
  background-color: #D88AB3;
  border: none;
  box-shadow: 3px 3px 0 0 #B56A90;
  color: white;
  font-family: "BNPPSquare";
  font-size: 0.875rem;
  height: 42px;
  line-height: 42px;
  width: 200px;
}

.button-download {
  background-color: #bb1f70;
  border: none;
  box-shadow: 3px 3px 0 0 #8e1855;
  color: white;
  font-family: "BNPPSquare";
  font-size: 0.875rem;
  height: 42px;
  line-height: 42px;
  width: 200px;

  .icon {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  &:focus {
    outline: none;
  }

  .filtros {
    background-color: ghostwhite !important;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

.selectize-control .single .selectize-input {
  border-color: #bb1f70 !important;
}

.text-cursiva {
  font-style: italic;
}

.activa {
  width: 100%;
  padding: .5rem;
}

.desactivada {
  background-color: #B56A90;
  width: 100%;
  padding: .5rem;
  color: white;
}

angular2csv button {
  background-color: #bb1f70 !important;
  border: none !important;
  box-shadow: 3px 3px 0 0 #8e1855 !important;
  color: white;
  font-family: "BNPPSquare";
  font-size: 0.875rem;
  height: 42px;
  line-height: 42px;
  width: 200px;
}


.button-download {
  angular2csv button:after {
    content: "Descargar template" !important;
    color: white;
    display: block;
  }
}
