<section class="abm-sucursales">

  <div class="container">
    <h2 class="abm-sucursales--header">
      <span class="title upper">Administrar sucursales</span>
      <span class="toggle icon" (click)="toggleView()">
          <fa-icon [icon]="icon"></fa-icon>
        </span>
    </h2>
    <div class="abm-sucursales--body" *ngIf="isOpen">
      <table class="sales-table">
        <thead>
        <tr>
          <th class="th-item text-center" (click)=" ordenar('numeroPuntoVenta', item1, id = !id )"> Id <i #item1 id="item1"
                                                                                                          class="items fa fa-caret-down"
                                                                                                          aria-hidden="true"> </i>
          </th>
          <th class="th-item text-center" (click)=" ordenar('descripcion', item2, descripcion = !descripcion )">
            Descripcion <i #item2 id="item2" class="items fa" aria-hidden="true"> </i></th>
          <th class="th-item text-center" (click)=" ordenar('numeroDocumento', item3, dniSuper = !dniSuper )"> DNI Supervisor
            <i #item3 id="item3" class="items fa" aria-hidden="true"> </i></th>
          <th class="th-item text-center" (click)=" ordenar('nombreApellido', item4, nombreSuper = !nombreSuper )"> Nombre
            Supervisor <i #item4 id="item4" class="items fa" aria-hidden="true"> </i>
          </th>
          <th class="th-item text-center" (click)=" ordenar('estado', item5, estado = !estado )"> Estado <i #item5
                                                                                                            id="item5"
                                                                                                            class="items fa"
                                                                                                            aria-hidden="true"> </i>
          </th>
          <th class="th-item text-center"> Opciones <i #item6 id="item6" class="items fa" aria-hidden="true"> </i></th>
        </tr>
        </thead>
        <tbody>
        <tr class="sale-row" *ngFor="let sucu of sucursales  | paginate: { itemsPerPage: 10, currentPage: page }">
          <th class="th-item text-center" style="min-width: 100px">{{ sucu.numeroPuntoVenta }}</th>
          <th class="th-item text-center">{{ sucu.descripcion }}</th>
          <th class="th-item text-center">{{ sucu.numeroDocumento }}</th>
          <th class="th-item text-center">{{ sucu.nombreApellido }}</th>
          <th class="th-item text-center"> <span *ngIf="sucu.estado" class="activa"> Activa </span>  <span *ngIf="!sucu.estado" class="desactivada"> Inactiva </span></th>
          <th class="th-item text-center">
            <i title="Editar" class="fa fa-pencil fa-2x p" (click)="editarSucursal( sucu.numeroPuntoVenta  )"> </i>
            <i *ngIf="sucu.estado" title="Desactivar" class="fa fa-minus-circle fa-2x p" (click)="mostrarAvisoDeCambio( sucu.numeroPuntoVenta  )"> </i>
            <i *ngIf="!sucu.estado" title="Activar" class="fa fa-plus-circle fa-2x p" (click)="mostrarAvisoDeCambio( sucu.numeroPuntoVenta  )"> </i>
          </th>
        </tr>
        </tbody>
      </table>
      <!--      ===============================================================================================================-->
      <!--      table-footer    -->
      <!--      ===============================================================================================================-->
      <div class="table-footer columns mt-0">

        <pagination-controls class="column is-3-desktop is-6-tablet is-12-mobile " autoHide="false"
                             directionLinks="false" (pageChange)="page = $event"></pagination-controls>

        <div class=" column is-3-desktop is-6-tablet is-12-mobile is-flex flex-between">
          Exportar ordenado por:
          <div class="select">
            <select [(ngModel)]="field" (change)="orderBy(sucursales, false)">
              <option *ngFor="let item of fields" [value]="item.key">
                {{ item.text | dashboardSelect }}
              </option>
            </select>
          </div>
        </div>

        <div class=" column is-2-desktop is-6-tablet is-12-mobile is-flex flex-right ">
          <button id="button-download" class="button-download" (click)="exportData()">
            Exportar
            <span class="icon">
                <fa-icon icon="file-excel"></fa-icon>
              </span>
          </button>
        </div>

        <div class=" column is-2-desktop is-6-tablet is-12-mobile is-flex flex-right ">
          <button id="button-subir-archivo" class="button-download" (click)="importarArchivo()">
            Importar
            <span class="icon">
                <fa-icon icon="file-csv"></fa-icon>
              </span>
          </button>
        </div>

        <div class=" column is-2-desktop is-6-tablet is-12-mobile is-flex flex-right ">
          <button id="button-agregar" class="button-download" (click)="mostrarAgregarSucu = !mostrarAgregarSucu">
            Agregar Sucursal
            <span class="icon">
                <fa-icon icon="plus-circle"></fa-icon>
              </span>
          </button>
        </div>

      </div>
      <!-- fin table-footer ===============================================================================================================-->

    </div>
  </div>
  <!-- fin container ===============================================================================================================-->


  <!--      ===============================================================================================================-->
  <!--      Modal con formulario agregar-editar sucursal    -->
  <!--      ===============================================================================================================-->

  <div class="filtros " *ngIf="mostrarAgregarSucu">
    <div class="modal" [class.is-active]="mostrarAgregarSucu">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <h2 *ngIf="!editar" class="modal-title"><strong>Agregar sucursal:</strong> <span class="short-line"></span>
          </h2>
          <h2 *ngIf="editar" class="modal-title"><strong>Editar sucursal:</strong> <span class="short-line"></span>
          </h2>
          <br>
          <div class="modal-body">
            <form [formGroup]="formulario" novalidate autocomplete="off">

              <div class="columns" *ngIf="!editar">
                <div class="column is-12-desktop is-12-tablet is-12-mobile">
                  <label for="descripcionSucursal"><i class="fa fa-home fa-1x pr-0"></i> Numero de punto de venta:
                  </label>
                  <input
                    (keyup)="verificar(sucuPuntoVenta.value, 'puntoVenta')"
                    type="number"
                    name="puntoVenta"
                    class="selectize-input input-field"
                    formControlName="puntoVenta"
                  >
                </div>
              </div>

              <div class="columns" *ngIf="editar">
                <div class="column is-12-desktop is-12-tablet is-12-mobile">
                  <label for="descripcionSucursal"><i class="fa fa-home fa-1x pr-0"></i> Numero de punto de venta:
                  </label>
                  <input
                    (keyup)="verificar(sucuPuntoVenta.value, 'puntoVenta')"
                    type="number"
                    name="puntoVenta"
                    class="selectize-input input-field"
                    formControlName="puntoVenta"
                    [value]="sucursalEditar.numeroPuntoVenta"

                  >
                </div>
              </div>

              <div class="columns" *ngIf="!editar">
                <div class="column is-12-desktop is-12-tablet is-12-mobile">
                  <label for="descripcionSucursal"><i class="fa fa-home fa-1x pr-0"></i> Descripción Sucursal: </label>
                  <input
                    (keyup)="verificar(sucuDescripcion.value, 'descripcion')"
                    type="text"
                    name="descripcionSucursal"
                    class="selectize-input input-field"
                    id="descripcionSucursal"
                    formControlName="sucuDescripcion"
                  >
                </div>
              </div>

              <div class="columns" *ngIf="editar">
                <div class="column is-12-desktop is-12-tablet is-12-mobile">
                  <label for="descripcionSucursal"><i class="fa fa-home fa-1x pr-0"></i> Descripción Sucursal: </label>
                  <input
                    (keyup)="verificar(sucuDescripcion.value, 'descripcion')"
                    type="text"
                    name="descripcionSucursal"
                    class="selectize-input input-field"
                    formControlName="sucuDescripcion"
                    [value]="sucursalEditar.descripcion"
                  >
                </div>
              </div>

              <div class="columns" *ngIf="!editar">
                <div class="column is-12-desktop is-12-tablet is-12-mobile">
                  <label> <i class="fa fa-user fa-1x pr-0"> </i> Asignar Supervisor: {{nombreSupervisorActual}}</label>
                  <ng-selectize [(ngModel)]="$supervisor"
                                [options]="$supervisores"
                                formControlName="sucuNombreSuper"
                                [config]="currentOptionsConfig"
                                (ngModelChange)="verificar()"
                  ></ng-selectize>
                </div>
              </div>

              <div class="columns" *ngIf="editar">
                <div class="column is-12-desktop is-12-tablet is-12-mobile" (change)="verificar($supervisor)">
                  <label> <i class="fa fa-user-o fa-1x pr-0"> </i> Supervisor actual: <span
                    class="text-cursiva"> "{{nombreSupervisorActual}}"</span></label>
                  <br>
                  <br>
                  <label> <i class="fa fa-user-plus fa-1x pr-0"> </i> Asignar nuevo supervisor:</label>
                  <ng-selectize [(ngModel)]="$supervisor"
                                [options]="$supervisores"
                                formControlName="sucuNombreSuper"
                                [config]="currentOptionsConfig"
                                (ngModelChange)="verificar()"
                  ></ng-selectize>
                </div>
              </div>

              <div class="columns">
                <div class=" column is-6-desktop is-6-tablet is-12-mobile is-flex flex-right ">
                  <button id="button-cancelan" class="button-download" (click)="cancelar()">
                    Cancelar

                  </button>
                </div>

                <div class="column is-6-desktop is-12-tablet is-12-mobile is-flex flex-left" *ngIf="!editar">
                  <div class="field">
                    <div class="control control-button">
                      <button
                        [ngClass]="{'button-download': habilitarBotonGuardar , 'button-disabled': !habilitarBotonGuardar}"
                        (click)="guardarCambios();"
                        [disabled]="sinEditar">
                        Guardar cambios
                        <span class="icon">  <fa-icon icon="file-archive"></fa-icon> </span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="column is-6-desktop is-12-tablet is-12-mobile is-flex flex-left" *ngIf="editar">
                  <div class="field">
                    <div class="control control-button">
                      <button
                        [ngClass]="{'button-download': habilitarBotonGuardar , 'button-disabled': !habilitarBotonGuardar}"
                        (click)="guardarCambios('editar');"
                        [disabled]="sinEditar">
                        Guardar cambios
                        <span class="icon">  <fa-icon icon="file-archive"></fa-icon> </span>
                      </button>
                    </div>
                  </div>
                </div>

              </div>

            </form>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- fin Modal con formulario ===============================================================================================================-->


  <!--      ===============================================================================================================-->
  <!--      Modal Agregar sucursal sucursal    -->
  <!--      ===============================================================================================================-->


  <div class="filtros" *ngIf="mostrarImportarArchivo">
    <div class="modal" [class.is-active]="mostrarImportarArchivo">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <p class="is-flex flex-right"> <button class="delete" (click)="cerrarModalCargaArchivo()"></button> </p>
          <h2 class="modal-title"><strong>Cargar sucursales desde archivo:</strong> <span class="short-line"></span>
          </h2>

          <div class="modal-body">

            <form #f="ngForm" autocomplete="off" novalidate>
              <div class="columns">
                <div class="column is-12-desktop is-12-tablet is-12-mobile">
                  <label for="descripcionSucursal"><i class="fa fa-file fa-1x pr-0"></i> Seleccionar archivo: </label>
                  <br>
                  <br>

                  <input
                    type="file"
                    name="subir-archivo"
                    class="selectize-input input-field"
                    [(ngModel)]="archivo"
                    #_archivo="ngModel"
                    required
                    (change)="changeArchivo($event)"
                    accept="text/csv"
                  >
                </div>
              </div>


              <div class="columns">

                <div class="column is-6-desktop is-12-tablet is-12-mobile">
                  <div class="field">
                    <div class="control control-button">
                      <button class="button-download">
                        <angular2csv [data]="[]" filename="template" [options]="template"></angular2csv>
                      </button>
                    </div>
                  </div>
                </div>

              <div class="column is-6-desktop is-12-tablet is-12-mobile is-flex flex-right">
                  <div class="field">
                    <div class="control control-button">
                      <button
                        [ngClass]="{ 'button-disabled': !habilitarBotonSubirArchivo, 'button-download': habilitarBotonSubirArchivo }"
                        [disabled]="!habilitarBotonSubirArchivo"
                        (click)="subirArchivo()"
                      >
                        Subir archivo
                      </button>
                    </div>
                  </div>
                </div>

              </div>




            </form>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- fin Modal Agregar Sucursal ===============================================================================================================-->


  <!--      ===============================================================================================================-->
  <!--      Modal Cambiar estado sucursal    -->
  <!--      ===============================================================================================================-->

  <div class="filtros" *ngIf="cambiarEstado">
    <div class="modal" [class.is-active]="cambiarEstado">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <p class="is-flex flex-right"><button class="delete" (click)="cambiarEstado = !cambiarEstado"></button></p>
          <h2 class="modal-title"><strong>Cambiar estado de la sucursal: </strong> {{sucursalEditar.descripcion}}<span
            class="short-line"></span>
          </h2>

          <div class="modal-body">
            <div class="columns">

              <div class="column is-12-desktop is-12-tablet is-12-mobile is-flex flex-right">
                <div class="field">
                  <div class="control control-button">
                    <button
                      class="button-download"
                      (click)="cambiarEstadoSucursal()"
                    >
                      <span *ngIf="sucursalEditar.estado">Desactivar</span>
                      <span *ngIf="!sucursalEditar.estado">Activar</span>
                    </button>
                  </div>
                </div>
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- fin Modal Cambiar estado sucursal ===============================================================================================================-->


  <!--      ===============================================================================================================-->
  <!--      Modal Mesaje resultados de carga masiva    -->
  <!--      ===============================================================================================================-->

  <div class="filtros" *ngIf="msjSucursalesCargadas">
    <div class="modal" [class.is-active]="msjSucursalesCargadas">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <p class="is-flex flex-right"><button class="delete" (click)="cerrarMsjDeRespuestaDeCargaMasiva()"></button></p>
          <h2 class="modal-title"><strong>Resultado de la carga masiva de sucursales: </strong> {{sucursalEditar.descripcion}}<span
            class="short-line"></span>
          </h2>
          <br>
          <br>
          <div class="modal-body">
            <div class="columns">

              <div class="column is-12-desktop is-12-tablet is-12-mobile is-flex flex-left">
                <div class="field">
                  <h2>Sucursales cargadas con exito: {{cantSucusExitosas}}</h2>
                </div>
              </div>

            </div>
          </div>

          <div class="modal-body">
            <div class="columns">

              <div class="column is-12-desktop is-12-tablet is-12-mobile is-flex flex-left">
                <div class="field">
                  <h2>Sucursales con errores: {{cantSucusErroneas}}</h2>
                  <br>

<!--                  <div class="control control-button">
                    <button
                      class="button-download"
                      (click)="descargarArchivo()"
                    >
                      <span>Descargar</span>
                    </button>
                  </div>-->
                  <angular2csv [data]="exportCvsData" filename="sucursales" [options]="options"></angular2csv>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- fin Modal Mesaje resultados de carga masiva =========================================================================================================-->
</section>
