<div class="next-button text-center">
  <a class="button" (click)="nextAction.emit()" [class.disabled]="isDisabled">
    <span class="capitalize">{{ title }}</span>
    <span class="icon is-small">
      <fa-icon icon="arrow-right"></fa-icon>
    </span>
  </a>
</div>
