@import "~app/shared/styles/_variables.scss";

.next-button {
  margin: 1rem 0 0;
  padding: 0.5rem;
  width: 100%;

  .button {
    border: none;
    color: $black;
    font-family: "BNPPSquare";
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0;
    transition: 0.2s opacity linear;

    &.disabled {
      pointer-events: none;
      opacity: 0.65;
    }
  }
}
