<div class="technology-template">
  <div class="title">{{ product.descripcion_producto | decode }}</div>

  <div class="show-technology-form">
    <app-technology-form [model]="model" (handleSubmit)="handleSubmit($event)"></app-technology-form>
  </div>
</div>
