@import "~app/shared/styles/_variables.scss";

.new-sale {
  box-sizing: border-box;
  background: $light-gray;
  padding: 40px 0 0;
  width: 100%;

  .container {
    max-width: $desktop;
    width: 94%;

    &-header {
      color: #3e3d3c;
      display: flex;
      justify-content: space-between;

      .action {
        color: #3e3d3c;
      }
    }

    &-content {
      width: 100%;
    }
  }

  .steps {
    background: $light-gray;
    margin: 1.5rem 0 0;
    width: 100%;

    .step {
      background: #ebebeb;
      border-top: 1px solid #dedddd;
      display: flex;
      margin: 0 auto;
      width: 100%;

      .icon {
        color: $green;
        font-size: 1.8rem;
        display: none;
      }

      &:last-child {
        padding-bottom: 2rem;
      }

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        width: 100%;
      }

      &-title,
      &-number {
        color: #3e3d3c;
        font-family: "BNPPSquare";
        font-size: 1.25rem;
      }

      &-number {
        background: $light-gray;
        border-radius: 50%;
        height: 29px;
        line-height: 29px;
        text-align: center;
        width: 29px;
      }

      &.active {
        background: $white;

        .step-title,
        .step-number {
          color:#bb1f70;
        }
      }

      &.completed {
        .step-header {
          .step-number {
            display: none;
          }

          .icon {
            display: inherit;
            cursor: pointer;
          }
        }
      }
    }

    .step.active + .step.active {
      background: #ebebeb;

      .step-title,
      .step-number {
        color: #3e3d3c;
      }
    }
  }

  .title {
    color: #3e3d3c;
    font-family: 'BNPPSquare';
    font-size: 1.9rem;
    font-weight: normal;
    margin: 0;
  }

  .short-line {
    background: #656463;
    display: block;
    height: 1px;
    margin: 10px 0 3px;
    width: 35px;
  }
}

// mobile
@media only screen and (max-width : 766px) {
  .new-sale {
    padding: 20px 0;

    .container {
      &-header {
        flex-direction: column;
        text-align: center;
      }
    }

    .title {
      font-size: 1.25rem;
    }

    .short-line {
      margin: 5px auto 3px;
      width: 22px;
    }
  }
}
