<div class="new-sale" #newSale>
  <div class="container">
    <div class="container-header">
      <h2 class="title capitalize">nueva venta <span class="short-line"></span></h2> <a class="action"
                                                                                        (click)="cancelOperation()" *ngIf="step.name !== SEARCH"
                                                                                        [hidden]="dashboardService.hiddenActivado"> <span class="icon is-small">
          <fa-icon icon="times"></fa-icon>
        </span> Cancelar operación </a>
    </div>
    <div class="container-content">
      <app-search-client *ngIf="step.name == SEARCH && step.state === state.pending" (next)="nextStep($event)"
                         (loading)="toggleSpinner($event)"></app-search-client>
    </div>
  </div>
  <div class="steps" *ngIf="step.name !== SEARCH">
    <div class="step"
         [ngClass]="{ active: steps[1].state == state.active, completed: steps[1].state == state.completed }">
      <div class="container">
        <div class="step-header">
          <h3 class="step-title upper">datos personales</h3> <span class="step-number">1</span> <span class="icon"
                                                                                                      (click)="backStep(1)">
            <fa-icon icon="check-circle"></fa-icon>
          </span>
        </div>
        <div class="step-content">
          <app-personal-data *ngIf="step.name == 'personalData' || steps[1].state == state.active"
                             (next)="nextStep($event)"></app-personal-data>
        </div>
      </div>
    </div>
    <div class="step"
         [ngClass]="{ active: steps[2].state == state.active, completed: steps[2].state == state.completed }">
      <div class="container">
        <div class="step-header">
          <h3 class="step-title upper">productos disponibles</h3> <span class="step-number">2</span> <span class="icon"
                                                                                                           (click)="backStep(2)">
            <fa-icon icon="check-circle"></fa-icon>
          </span>
        </div>
        <div class="step-content">
          <app-available-products *ngIf=" steps[2].state == state.active" (next)="nextStep($event)">
          </app-available-products>
        </div>
      </div>
    </div>
    <div class="step"
         [ngClass]="{ active: steps[3].state == state.active, completed: steps[3].state == state.completed }">
      <div class="container">
        <div class="step-header">
          <h3 class="step-title upper">datos de la venta</h3> <span class="step-number">3</span> <span class="icon"
                                                                                                       (click)="backStep(3)">
            <fa-icon icon="check-circle"></fa-icon>
          </span>
        </div>
        <div class="step-content">
          <app-sale-data *ngIf="step.name == 'saleData' || steps[3].state == state.active" (next)="nextStep($event)">
          </app-sale-data>
        </div>
      </div>
    </div>
    <div class="step"
         [ngClass]="{ active: steps[4].state == state.active, completed: steps[4].state == state.completed }">
      <div class="container">
        <div class="step-header">
          <h3 class="step-title upper">Confirmaci&oacute;n</h3> <span class="step-number">4</span> <span class="icon"
                                                                                                         (click)="backStep(4)">
            <fa-icon icon="check-circle"></fa-icon>
          </span>
        </div>
        <div class="step-content">
          <app-pay-and-consent *ngIf="step.name == 'pay&consent' || steps[4].state == state.active"
                               (next)="nextStep($event)"></app-pay-and-consent>
        </div>
      </div>
    </div>
  </div>
  <app-latest-sales #latestSale *ngIf="mostrarUltimas()" [user]="user"></app-latest-sales>
  <app-cancelar-venta *ngIf=" ( (mostrarUltimas() && isSupervisor) || (mostrarUltimas() && isAdministrador) )"></app-cancelar-venta>
  <app-amb-sucursales *ngIf="mostrarUltimas() && isAdministrador"></app-amb-sucursales>
  <app-cancel-operation-modal [isActive]="isModalActive" (closeModal)="closeModal($event)" (resetProcess)="resetProcess($event)"></app-cancel-operation-modal>
  <app-dashboard-reportes *ngIf="mostrarUltimas() && isAdministrador" [urlReportes]="urlReportes"></app-dashboard-reportes>
</div>
