@font-face {
  font-family: 'BNPPSquare-Bold';
  src: url('assets/font/bnppsquare/bnpp_square_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BNPPSquare-Extrabold';
  src: url('assets/font/bnppsquare/bnpp_square_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BNPPSquare-Light';
  src: url('assets/font/bnppsquare/bnpp_square_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BNPPSquare';
  src: url('assets/font/bnppsquare/bnpp_square_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
