// src: url('assets/font/bnppsquare/bnpp_square_bold-webfont.woff') format('woff');
@font-face {
  font-family: 'icomoon';
  src:  url('assets/font/icons/icomoon.eot?12ena2');
  src:  url('assets/font/icons/icomoon.eot?12ena2#iefix') format('embedded-opentype'),
    url('assets/font/icons/icomoon.ttf?12ena2') format('truetype'),
    url('assets/font/icons/icomoon.woff?12ena2') format('woff'),
    url('assets/font/icons/icomoon.svg?12ena2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_asistencia:before {
  content: "\e900";
}

.icon-icon_gextendida:before {
  content: "\e901";
}

.icon-icon_seguro:before {
  content: "\e902";
}
