// Colors

$white: #fff;
$light-gray: #f5f5f5;
$gray: #b5b5bb;
$light-black: #787776;
$black: #3e3d3c;
$pink: #bb1f70;
$green: #009058;
$red: #ff0000;

// sizes

$desktop: 960px;
$table: 768px;
$mobile: 320px;


$input-height-normal: 50px;
