.form {
  .field {
    .label {
      box-sizing: border-box;
      color: $black;
      font-family: "BNPPSquare";
      font-size: 1rem;
      font-weight: normal;
      height: 1.5rem;
      margin-bottom: 5px;
      transition: .2s all linear;
    }

    .icon {
      top: 7px;

      &.is-left {
        left: 6px;
      }
      &.is-right {
        pointer-events: auto;
      }
    }

    &.is-grouped {
      flex-wrap: wrap;

      label {
        width: 100%;
      }

      &.is-grouped-1 {
        .control {
          margin: 0;
          width: 33.33%;
          &:nth-of-type(2) {
            input {
              border-left-width: 0;
              border-right-width: 0;
            }
          }
        }
      }

      &.is-grouped-2-1 {
        .control {
          margin: 0;
          &:first-of-type {
            width: 66.66%;
          }
          &:last-of-type {
            width: 33.33%;
            input {
              border-left-width: 0;
            }
          }
        }
      }

      &.is-grouped-4 {
        .control {
          margin: 0;
          width: 25%;
        }
      }
    }

    &.is-invalid {
      .label {
        color: $red;
      }

      .control {
        select,
        input {
          border-color: $red;
        }

        .icon.is-right {
          border: 1px solid $red;
          border-radius: 50%;
          color: $red;
          font-size: 10px;
          height: 1.25rem;
          right: 14px;
          top: calc(50% - 10px);
          transition: .2s all linear;
          width: 20px;
          z-index: 1;
        }
      }
    }

    &.field-date {
      .icon.is-left {
        top: 7px;
      }
      input.text {
        padding-left: 2.5rem;
      }
    }
  }

  .control {
    height: $input-height-normal;

    &.text-area {
      height: $input-height-normal * 2;
    }

    .select {
      height: 100%;
      width: 100%;

      &:not(.is-loading):after {
        border-color: #787776;
        z-index: 2;
      }

      &.is-loading::after {
        top: 1rem;
      }

      select[disabled]:hover {
        border: 1px solid #b0b0ae;
      }
    }

    select,
    input,
    textarea {
      background: $white;
      border: 1px solid #b0b0ae;
      border-radius: 0;
      box-shadow: inset 3px 3px 0 0 #ebebeb;
      box-sizing: border-box;
      color: $light-black;
      font-family: "BNPPSquare";
      font-size: 1rem;
      font-weight: normal;
      padding: 0 0.9rem;
      transition: .2s all linear;
      width: 100%;
      &:focus {
        outline: none;
      }
    }

    select,
    input {
      height: 100%;

      &:disabled {
        background: $light-gray;
      }
    }

    input[type="checkbox"] {
      box-shadow: none;
      height: auto;
      width: auto;
    }

    textarea {
      min-height: 100px;
      padding: 0.8rem 0.9rem;
      resize: none;
    }
  }
}

// mobile
@media only screen and (max-width: $table) {
  .form {
    .columns {
      margin: 0;
    }
    .column {
      padding: 5px 0;
    }
    .field  {
      .icon {
        top: 5px;
      }

      &.field-date {
        .icon.is-left {
          top: 4px;
        }
      }
      .label {
        font-size: 0.875rem;
        height: auto;
      }

      .control {
        height: 46px;

        &.text-area {
          height: 92px;
        }

        select,
        input {
          font-size: 0.875rem;
        }
      }
    }
  }
}
