<div class="items-form">
  <form name="form-items" class="form" #f="ngForm" novalidate autocomplete="off">
    <div class="field" [class.is-invalid]="newItem.invalid && newItem.touched">
      <label class="label capitalize">
        {{ newItem.invalid && newItem.touched ? 'Ingrese un ' + title + ' válido': title }}: *
      </label>
      <div class="items">
        <div class="item" *ngFor="let item of items">
          <span class="item-value">{{ item }}</span>
          <span class="delete is-medium" (click)="onClick(item.toString())"></span>
        </div>
      </div>
      <div class="control" [hidden]="items.length >= maxItems">
        <input name="item"
          [type]="type"
          class="text"
          [(ngModel)]="item"
          #newItem="ngModel"
          [required]="!items.length"
          [email]="isEmail"
          Type="'TEL'"
          onKeyPress="if(event.keyCode!=8 && event.keyCode!=46 && this.type=='number' && this.value.length==10) return false;"
          [maxlength]="maxlength"
          [pattern]="pattern"
          (keyup)="onKeyUp()"
        />
      </div>
    </div>
    <div class="field" *ngIf="items.length < maxItems">
      <div class="control">
        <button type="button" (click)="onSubmit()" [disabled]="f.invalid || !item || exist">
          Agregar {{ title | lowercase }}
        </button>
      </div>
    </div>
  </form>
</div>
