@import '~app/shared/styles/_variables.scss';

.items-form {
  width: 100%;

  .items {
    .item {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      width: 100%;

      span {
        &.item-value {
          font-family: "BNPPSquare";
          font-size: 1rem;
          color: $light-black;
          padding-left: 0.9rem;
          overflow: hidden;
        }

        &.delete {
          background: $light-gray;
          &:before,
          &:after {
            background: $black;
          }
        }
      }
    }
  }

  .control {
    height: 50px;
    margin: 0;
    width: 100%;

    button {
      background: #ebebeb;
      box-shadow: 3px 3px 0 0 #787776;
      color: $black;
      font-family: "BNPPSquare";
      font-size: 1rem;
      height: 100%;
      width: 100%;

      &:disabled {
        opacity: 0.65;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

