<section class="dashboard-reportes">

  <div class="container">
    <h2 class="dashboard-reportes--header">
      <span class="title upper">Dashboard</span>
      <span class="toggle icon" (click)="toggleView()">
          <fa-icon [icon]="icon"></fa-icon>
        </span>
    </h2>
    <div class="dashboard-reportes--body" *ngIf="isOpen">
      <iframe class="frame" [src]="getUrl()">

      </iframe>
    </div>
  </div>
  <!-- fin container ===============================================================================================================-->

</section>
