@import "~app/shared/styles/_variables.scss";

.dashboard-reportes {
  background: #ebebeb;
  box-sizing: border-box;
  display: block;
  min-height: 100px;
  padding: 1.25rem 0;
  width: 100%;
  font-family: "BNPPSquare";

  .container {
    width: 96%;
    max-width: 96%;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1rem auto;
    text-align: left;
    width: 100%;

    .title {
      color: $black;
      font-family: "BNPPSquare";
      font-size: 1.25rem;
    }

    .toggle {
      border-radius: 50%;
      background: $white;
      color: $black;
      cursor: pointer;
      font-size: 14px;
      height: 29px;
      width: 29px;
    }
  }

  .frame{
    width: 100%;
    height: 1200px;
  }

}
