@import '~app/shared/styles/_variables.scss';

.footer {
  background-color: #fff;
  padding: 0;

  &--copy {
    background-color: #656462;
    color: #fefefe;
    font-size: 14px;
    padding: 1rem 0;
  }

  .short-line {
    background: #656463;
    display: block;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 3px;
    width: 35px;
  }

  .link {
    color: #656463;
    font-family: "BNPPSquare";
  }

  .contact {
    padding: 1.8rem 0 1.5rem 0;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 960px;
      width: 94%;
    }

    &--item {
      color: #3e3d3c;
      font-family: 'BNPPSquare';
      font-size: 22px;
      width: 30%;

      &__phone {
        font-size: 16px;
        line-height: 2em;

        span {
          vertical-align: middle;

          &.icon {
            background: #787776;
            border-radius: 2rem;
            color: $white;
            margin-right: 1rem;
          }
        }
      }
    }

    &--nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;

      &__item {
        box-sizing: border-box;
        margin: 0px 7px 0 0;

        &:last-child {
          margin: 0;
        }

        .link {
          color: #787776;
          font-size: 1rem;
        }
      }
    }
  }

  .about {
    padding: 1.5rem 0;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 960px;
      width: 94%;
    }

    &--item {
      color: #3e3d3c;
      font-size: 22px;
      width: 64%;

      &:first-child {
        width: 35%;
      }
    }

    &--nav {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0 10px;
      width: 100%;

      &__item {
        box-sizing: border-box;
        margin: 5px 0 10px 0;
        width: 40%;

        .link {
          color: #787776;
          font-size: 1rem;
        }
      }
    }
  }
}

// tablet
@media only screen and (min-width : 767px) and (max-width : 959px) {
  .footer {
    .contact {
      &--item {
        font-size: 20px;

        &__phone {
          font-size: 14px;
        }
      }
    }

    .about {
      padding: 0.8rem 0 0;

      &-wrapper {
        justify-content: center;
      }

      &--item {
        font-size: 20px;
        text-align: center;
        margin-bottom: 12px;
        width: 100% !important;

        br {
          display: none;
        }

        .short-line {
          margin: 15px auto 3px;
        }
      }

      &--nav {
        &__item {
          box-sizing: border-box;
          margin: 0;

          .link {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

// mobile
@media only screen and (max-width : 766px) {
  .footer {
    display: none;
  }
}
