<footer class="footer">
  <div class="contact">
    <!-- <div class="contact-wrapper">
      <div class="contact--item">
        Comunicate con nosotros
        <span class="short-line"></span>
      </div>
      <div class="contact--item contact--item__phone text-center">
        <span class="icon is-medium">
          <fa-icon icon="mobile-alt" class="fas fa-lg"></fa-icon>
        </span>
        <span class="phone-number">(011) 4316-4200</span>
      </div>
      <div class="contact--item">
        <app-social-networks></app-social-networks>
      </div>
    </div> -->
  </div>
  <div class="about">
    <div class="about-wrapper">
      <div class="about--item">
        <a target="_blank" class="link none" href="http://www.bnpparibascardif.com.ar/es/pid3726/nosotros.html">
          Acerca de BNP Paribas
          <br />
          Cardif en Argentina
        </a>
        <span class="short-line"></span>
      </div>
      <div class="about--item">
        <ul class="about--nav">
          <li class="about--nav__item" *ngFor="let link of links">
            <a [href]="link.url" target="_blank" class="link none">{{ link.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer--copy text-center">
      © {{year}}, BNP PARIBAS CARDIF SEGUROS S.A. – Todos los derechos reservados - v.1.8.2
  </div>
</footer>
