@import "~app/shared/styles/main.scss";

.home-template {
  padding: 6px 0 2.5rem;
  width: 100%;

  .title {
    color: $black;
    font-family: "BNPPSquare-Bold";
    font-size: 1rem;
  }

  .home-address {
    background: $light-gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    padding: 15px 12px 13px 1rem;
  }

  .address {
    color: #503937;
    font-size: 1rem;
    line-height: 1.31rem;
    .street {
      font-family: "BNPPSquare";
      font-weight: 300;
    }

    .department {
      font-family: "BNPPSquare-Light";
      font-weight: normal;
    }

    .icon {
      background: $white;
      border-radius: 50%;
      cursor: pointer;
      float: right;
      font-size: 14px;
      height: 25px;
      width: 25px;
    }
  }

  .button-next {
    border: none;
    color: $black;
    font-family: "BNPPSquare";
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0;
    margin-top: 0.5rem;

    &.disabled {
      pointer-events: none;
      opacity: 0.65;
    }

    span.icon {
      color: $black;
    }
  }
}
