<div class="home-template">
  <!-- <div class="title">{{ product.descripcion_producto | decode}}:</div> -->
  <app-yes-no-question *ngIf="!hasResponded" [question]="question" (handleClick)="handleAnwser($event)"></app-yes-no-question>

  <div class="home-address" *ngIf="hasAddress">
    <div class="address">
      <span class="street"> {{ street }}</span>
      <span class="department">{{ department }}</span>
      <span class="icon" (click)="handleRemove()">
        <fa-icon icon="times"></fa-icon>
      </span>
    </div>
    <div class="city">{{ city | decode }}</div>
  </div>

  <div class="show-client-form" *ngIf="showAddressForm">
    <app-address-form [model]="model" (handleSubmit)="handleSubmit()"></app-address-form>
  </div>

  <!-- <app-next-button *ngIf="hasAddress || showAddressForm" [isDisabled]="!showAddressForm" (nextAction)="handleNext()"></app-next-button> -->
</div>
