@import "~app/shared/styles/_variables.scss";

.cancelar-venta {
  background: #ebebeb;
  box-sizing: border-box;
  display: block;
  min-height: 100px;
  padding: 1.25rem 0;
  width: 100%;
  font-family: "BNPPSquare";

  .container {
    width: 96%;
    max-width: 96%;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1rem auto;
    text-align: left;
    width: 100%;

    .title {
      color: $black;
      font-family: "BNPPSquare";
      font-size: 1.25rem;
    }

    .toggle {
      border-radius: 50%;
      background: $white;
      color: $black;
      cursor: pointer;
      font-size: 14px;
      height: 29px;
      width: 29px;
    }
  }

  .button-download {
    background-color: #bb1f70;
    border: none;
    box-shadow: 3px 3px 0 0 #8e1855;
    color: white;
    font-family: "BNPPSquare";
    font-size: 0.875rem;
    height: 42px;
    line-height: 42px;
    width: 200px;

    .icon {
      font-size: 1rem;
      margin-left: 0.5rem;
    }

    &:focus {
      outline: none;
    }

    .filtros {
      background-color: ghostwhite !important;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }

  .notificatrion{
    font-family: "BNPPSquare" !important;
    font-size: 1.25rem !important;
  }

  .is-primary{
    background-color: $pink;
  }

  .is-danger{
    background-color: $red !important;
  }
}
