<section class="cancelar-venta">

  <div class="container">
    <h2 class="cancelar-venta--header">
      <span class="title upper">Cancelar una venta</span>
      <span class="toggle icon" (click)="toggleView()">
          <fa-icon [icon]="icon"></fa-icon>
        </span>
    </h2>
    <div *ngIf="isOpen">
      <br>
      <form class="form" novalidate autocomplete="off" [formGroup]="formGroup">
        <div class="columns">
          <div class="column is-4-desktop is-6-tablet is-12-mobile">
            <div class="field" [class.is-invalid]="idVenta.invalid && (idVenta.dirty || idVenta.touched)">
              <label class="label">
                {{
                  idVenta.invalid && (idVenta.dirty || idVenta.touched) ? 'Ingrese un numero válido' : 'Número de venta'
                }}: *</label>
              <div class="control">
                <input formControlName="idVenta" class="input" type="number" placeholder="Ingrese el número"/>
              </div>
            </div>
          </div>
          <div class="column is-4-desktop is-6-tablet is-12-mobile">
            <div class="field" [class.is-invalid]="document.invalid && (document.dirty || document.touched)">
              <label class="label">
                {{
                  document.invalid && (document.dirty || document.touched) ? 'Ingrese un documento válido' : 'Número de Documento'
                }}: *</label>
              <div class="control">
                <input formControlName="document" class="input" type="number" (keydown.enter)="searchBtn.click();"
                       placeholder="Ingrese el número"/>
              </div>
            </div>
          </div>
          <div class="column is-4-desktop is-6-tablet is-12-mobile">
            <div class="field" [class.is-invalid]="motivo.invalid && (motivo.dirty || motivo.touched)">
              <label class="label">
                {{
                  motivo.invalid && (motivo.dirty || motivo.touched) ? 'Seleccione una opción válida' : 'Motivo'
                }}: *</label>
              <div class="control">
                <div class="select">
                  <select formControlName="motivo">
                    <option disabled selected value="">Seleccione motivo</option>
                    <option *ngFor="let item of motivos" [value]="item.id">
                      {{ item.descripcion | decode }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </div>

        <p class="text-center">Recordá que las anulaciones solamente son para ventas realizadas en el transcurso de día.</p>
        <br>
        <div class="columns">
          <div class="column is-12-desktop is-12-tablet is-12-mobile is-flex flex-center">
            <div class="field">
              <div class="control control-button">
                <button class="button button-download" [class.is-loading]="isLoading" #searchBtn (click)="anularVenta();"
                        [disabled]="formGroup.invalid || !motivos.length || isLoading">
                  Anular venta
                </button>
              </div>
            </div>
          </div>

        </div>
        <div class="columns">
          <div *ngIf="isNotCancel" class="column is-12-desktop is-12-tablet is-12-mobile is-flex flex-center">
            <div class="notification is-danger">
              <button class="delete" (click)="cerrar()"></button>
              <strong>Error al anular la venta: </strong> {{msjError}}
            </div>
          </div>

          <div *ngIf="isCancel" class="column is-12-desktop is-12-tablet is-12-mobile is-flex flex-center">
            <div class="notification is-primary">
              <button class="delete" (click)="cerrar()" ></button>
              <strong>Venta anulada con exito ;) </strong>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- fin container ===============================================================================================================-->
</section>
