@import "~app/shared/styles/main.scss";

.search-client {
  padding: 1.9rem 0;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sub-title {
    color: #3e3d3c;
    font-family: 'BNPPSquare';
    font-size: 1rem;
  }

  .columns {
    flex-wrap: wrap;
  }

  .has-icons-left .select select {
    padding-left: 36px;
  }

  .control-button {
    text-align: center;
    margin: 1rem 0;

    .button {
      background-color: $pink;
      border: none;
      border-radius: 0;
      box-shadow: 3px 3px 0 0 #8e1855;
      color: white;
      font-family: "BNPPSquare";
      font-size: 1rem;
      height: 100%;
      width: 220px;

      &:active{
        background-color: rgb(199, 106, 137);
      }
    }
  }
}

@include respond-below(sm) {
  .search-client {
    .control-button {
      margin: 0.5rem 0;

      .button {
        width: 100%;
      }
    }
  }
}

.modal-card-body-cliente{
 padding: 0 20px;
}

.modal-card-body-cliente:hover{
  background-color: $pink;
  color: white;
  cursor: pointer;
}

.modal-card-body{
}

.modal-card-head{
  background-color: $pink;
}

.modal-card-title{
  color: white !important;
  font-size: 1rem !important;
}

.modal-card{
  width: 80% !important;
}

.modal-card-foot{
  background-color: #ffffff;
  border-top: none !important;
}

.button-success {
  background: $pink;
  border: none;
  box-shadow: 3px 3px 0 0 #8e1855;
  color: $white;
  float: right;
  font-size: 1rem;
  height: 50px;
  transition: .2s background linear;
  width: 110px;

  &:active{
    background: rgb(199, 106, 137);
  }

  &:focus {
    outline: none;
  }

  &:disabled{
    opacity: 0.65;
  }
}

.radio{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mi-radio-button{
  width: 28px;
  height: 28px;
  border: 5px solid $pink;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  transition: .2s background linear;
  &:hover{
    opacity: 1;
  }

}

.mi-radio-button-in{
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 15px;
  background-color: #ffffff;
  transition: .2s background linear;

  &:hover{
    background-color: $pink;

  }
}

.seleccionado{
  border-color: $pink !important;
  opacity: 1 !important;
}

.seleccionado-in{
  background-color: $pink;
}

// mobile
@media only screen and (max-width: 766px) {
  .modal-card{
    width: 90% !important;
  }
}
