<div class="search-client">
  <div class="container">
    <form class="form" novalidate autocomplete="off" [formGroup]="searchForm">
      <div class="columns">
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="selectedType.invalid && (selectedType.dirty || selectedType.touched)">
            <label class="label">
              {{
              selectedType.invalid && (selectedType.dirty || selectedType.touched) ? 'Seleccione una opción válida' : 'Tipo de Documento'
              }}: *
            </label>
            <div class="control has-icons-left">
              <div class="select" [class.is-loading]="!listadoItem.length">

                <select formControlName="selectedType" (change)="onChangeSelect()">
                  <option value="">Seleccione documento</option>
                  <option class="newsale__option" *ngFor="let item of listadoItem" [value]="item.userDocumentType">
                    {{ item.userDocumentNumber | decode | dashboardSelect }}
                  </option>
                </select>
              </div>
              <div class="icon is-small is-left">
                <fa-icon icon="id-card"></fa-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="document.invalid && (document.dirty || document.touched)">
            <label class="label">
              {{
              document.invalid && (document.dirty || document.touched) ? 'Ingrese un documento válido' : 'Número de Documento'
              }}: *</label>
            <div class="control">
              <input formControlName="document" class="input" type="number" (keydown.enter)="searchBtn.click();"
                     placeholder="Ingrese el número"/>
            </div>
          </div>
        </div>
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="idGenero.invalid && (idGenero.dirty || idGenero.touched)">
            <label class="label">
              {{
              idGenero.invalid && (idGenero.dirty || idGenero.touched) ? 'Seleccione una opción válida' : 'Sexo'
              }}: *</label>
            <div class="control">
              <div class="select">
                <select formControlName="idGenero">
                  <option value="">Seleccione sexo</option>
                  <option *ngFor="let item of genderList" [value]="item.id">
                    {{ item.descripcion | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-12-desktop is-12-tablet is-12-mobile">
          <div class="field">
            <div class="control control-button">
              <button class="button" [class.is-loading]="isLoading" #searchBtn (click)="onSearchClient();"
                      [disabled]="searchForm.invalid || !listadoItem.length || isLoading">
                Buscar cliente
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="container">
    <div class="modal" [class.is-active]="hayClientesRepetidos">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head is-flex flex-between">
          <p class="modal-card-title">Se hallaron varios resultados, elija el correcto por favor.</p>
          <button class="delete" aria-label="close" (click)="cerrar()"></button>
        </header>
        <section class="modal-card-body">

          <div class="columns">
            <div class="column is-3-desktop is-3-tablet is-12-mobile">
              <div class="field">
                <label class="label"> Apellido:</label>
              </div>
            </div>
            <div class="column is-3-desktop is-3-tablet is-12-mobile">
              <div class="field">
                <label class="label"> Nombre:</label>
              </div>
            </div>
            <div class="column is-2-desktop is-3-tablet is-12-mobile">
              <div class="field">
                <label class="label"> Genero:</label>
              </div>
            </div>
            <div class="column is-3-desktop is-3-tablet is-12-mobile">
              <div class="field">
                <label class="label"> Fecha nac.:</label>
              </div>
            </div>
          </div>
          <!-- Content ... -->
          <div class="columns" *ngFor="let cli of listaClientesObj; index as i">
            <div class="column is-3-desktop is-6-tablet is-12-mobile">
              <div class="field">
                <div class="control">
                  <input name="apellido" class="input" type="text" value="{{cli.apellido}}"/>
                </div>
              </div>
            </div>
            <div class="column is-3-desktop is-6-tablet is-12-mobile">
              <div class="field">
                <div class="control">
                  <input name="nombre" class="input" type="text" value="{{cli.nombre}}"/>
                </div>
              </div>
            </div>
            <div class="column is-2-desktop is-6-tablet is-12-mobile">
              <div class="field">
                <div class="control">
                  <input name="genero" class="input" type="text"
                         value="{{cli.genero }}"/>
                </div>
              </div>
            </div>
            <div class="column is-3-desktop is-6-tablet is-12-mobile">
              <div class="field">
                <div class="control">
                  <input name="fecha" class="input" type="text" value="{{cli.fecha }}"/>
                </div>
              </div>
            </div>
            <div class="column is-1-desktop is-12-tablet is-12-mobile radio is-flex flex-center">
              <div class="mi-radio-button" [class.seleccionado] = "cli.estado" (click)="clienteSeleccionado(cli,i)">
                <div class="mi-radio-button-in" [class.seleccionado-in] = "cli.estado"></div>
              </div>
            </div>
          </div>

        </section>
        <footer class="modal-card-foot">
          <button class="button-success" [disabled]="!haySeleccionado" (click)="continuar(false)">Seleccionar</button>
          <button class="button-success mr-1" (click)="continuar(true)">Nuevo</button>
        </footer>
      </div>
    </div>
  </div>

</div>
