<div class="purchase-form">
  <div class="container">
    <form name="form-purchase" class="form" [formGroup]="purchaseForm" autocomplete="off" novalidate>
      <div class="columns">
        <div class="column is-6-desktop is-6-tablet is-12-mobile">
          <div class="field"
            [class.is-invalid]="purchaseForm.controls.montoCompra.errors && (purchaseForm.controls.montoCompra.dirty && purchaseForm.controls.montoCompra.touched)">
            <label class="label">
              {{
                purchaseForm.controls.montoCompra.errors &&
                (purchaseForm.controls.montoCompra.dirty && purchaseForm.controls.montoCompra.touched)
                ? 'Ingrese un monto válido' : 'Monto'
              }}: *
            </label>
            <div class="control">
              <input name="montoCompra"
                class="text"
                type="text"
                [cleave]="cleaveAmount"
                placeholder="$ 100.00"
                formControlName="montoCompra"
                required />
            </div>
          </div>
        </div>

        <div class="column is-6-desktop is-6-tablet is-12-mobile">
          <div class="field field-date"
            [class.is-invalid]="purchaseForm.controls.tiempoAsegurar.errors && (purchaseForm.controls.tiempoAsegurar.dirty && purchaseForm.controls.tiempoAsegurar.touched)">
            <label class="label">
              {{
                purchaseForm.controls.tiempoAsegurar.errors &&
                (purchaseForm.controls.tiempoAsegurar.dirty && purchaseForm.controls.tiempoAsegurar.touched)
                ? 'Ingrese una fecha válida' : 'Tiempo a asegurar el bien'
              }}: *
            </label>
            <div class="control has-icons-left">
              <span class="icon is-small is-left">
                <fa-icon icon="calendar"></fa-icon>
              </span>
              <input name="tiempoAsegurar"
                class="text"
                type="text"
                [cleave]="cleaveDate"
                placeholder="DD / MM / AAAA"
                formControlName="tiempoAsegurar"
                appPastDate
                required />
            </div>
          </div>
        </div>

        <div class="column is-12-desktop is-12-tablet is-12-mobile">
          <div class="field"
          [class.is-invalid]="purchaseForm.controls.descripcionBienAsegurado.errors && (purchaseForm.controls.descripcionBienAsegurado.dirty && purchaseForm.controls.descripcionBienAsegurado.touched)">
            <label class="label">
              {{
                purchaseForm.controls.descripcionBienAsegurado.errors &&
                (purchaseForm.controls.descripcionBienAsegurado.dirty && purchaseForm.controls.descripcionBienAsegurado.touched)
                ? 'Maximo de caractéres permitidos 300' : 'Descripción del bien asegurado'
              }}
            </label>
            <div class="control text-area">
              <textarea name="descripcionBienAsegurado"
                class="textarea"
                type="text"
                placeholder="Descripción"
                formControlName="descripcionBienAsegurado"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="column is-12-desktop is-12-tablet is-12-mobile">
          <app-next-button
            (nextAction)="nextAction()"
            [isDisabled]="purchaseForm.invalid"
          ></app-next-button>
        </div>
      </div>
    </form>
  </div>
</div>
