@import "~app/shared/styles/_variables.scss";

.health-template {
  padding: 6px 0 2.5rem;
  width: 100%;

  .title {
    color: $black;
    font-family: "BNPPSquare-Bold";
    font-size: 1rem;
  }

  .show-client-form {
    margin: 1rem auto;
  }

  .additionals,
  .beneficiaries {
    width: 100%;
    margin-bottom: 0.5rem;

    .additional,
    .beneficiary {
      background: $light-gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      margin: 1px 0;
      width: 100%;

      &-name {
        color: #413d3b;
        font-family: "BNPPSquare";
        font-size: 1rem;
        margin-left: 1rem;
      }

      &-remove {
        margin-right: 0.8rem;

        span.icon {
          background: $white;
          border-radius: 50%;
          font-size: 0.875rem;
          cursor: pointer;
        }
      }
    }

    .add-aditional {
      margin: 14px 0;

      .button {
        border: none;
      }
    }
  }
}
