<div class="health-template">
  <div class="title">{{ product.descripcion_mkt | decode}}:</div>
  <div class="additionals" *ngIf="additionals.length">
    <div class="additional" *ngFor="let item of additionals; let i = index;">
      <p class="additional-name capitalize">
        {{ item.type === 'main' ? 'Titular' : 'Adicional ' + i }}: {{ item.name }}
      </p>
      <span class="additional-remove">
        <span class="delete" (click)="removeAditional(item)">
        </span>
      </span>
    </div>
    <div class="add-aditional text-center" *ngIf="addAnotherAdditional">
      <a class="button" (click)="resetFlow()">
        <span class="icon">
          <fa-icon icon="plus"></fa-icon>
        </span>
        <span>Agregar Adicional</span>
      </a>
    </div>
  </div>

  <div class="beneficiaries" *ngIf="beneficiaries.length">
    <div class="beneficiary" *ngFor="let beneficiary of beneficiaries; let i = index;">
      <p class="beneficiary-name capitalize">
        Beneficiario {{ (i + 1) }}: {{ beneficiary.name }} ({{ beneficiary.percentage }})
      </p>
      <span class="beneficiary-remove">
        <span class="delete" (click)="removeBeneficiary(beneficiary)">
        </span>
      </span>
    </div>
  </div>

  <app-home-template *ngIf= "showHomeComponent" [product] = "product" (continue)= "continuar($event)"></app-home-template>
  <app-technology-template *ngIf= "showTechnologyComponent" [product] = "product"></app-technology-template>

  <div class="show-client-form" *ngIf="showTitularForm">
    <app-client-form
      [model]="model"
      title="Titular"
      type="owner"
      [adultRequired]="true"
      (handleSubmit)="saveTitular($event)"
    ></app-client-form>
  </div>

  <div class="show-client-form" *ngIf="showAdditionalForm">
    <app-client-form
      [model]="model"
      title="Adicional"
      type="additional"
      [bornRequired]="true"
      [showCancelButton]="additionals.length"
      (handleSubmit)="saveAdditional($event)"
      (handleCancel)="cancelAddition($event)"
    ></app-client-form>
  </div>

  <div class="show-client-form" *ngIf="showBeneficiaryForm">
    <app-client-form
      [model]="model"
      [porcentajeAcumulado]= "sumPercentage"
      title="Beneficiario"
      type="beneficiary"
      [bornRequired]="true"
      (handleSubmit)="saveBeneficiary($event)"
    ></app-client-form>
  </div>

  <app-yes-no-question
    *ngIf="canAddTitular"
    [question]="mainQuestion"
    (handleClick)="isTitular($event)"
  ></app-yes-no-question>

  <app-yes-no-question
    *ngIf="canAddAdditional"
    question="Desea agregar adicionales"
    (handleClick)="addAdditional($event)"
  ></app-yes-no-question>

  <app-yes-no-question
    *ngIf="canAddBeneficiary"
    question="Desea agregar beneficiarios"
    (handleClick)="addBeneficiary($event)"
  ></app-yes-no-question>


</div>
