<div class="technology-form">
  <div class="container">
    <form name="form-technology" class="form" #f="ngForm" autocomplete="off" novalidate>
      <div class="columns">
        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="marca.invalid && marca.touched">
            <label class="label">
              {{ marca.invalid && marca.touched ? msgError : 'Marca' }}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!brands.length">
                <select name="marca" [(ngModel)]="model.marca" #marca="ngModel" required>
                  <option value="">Seleccione marca</option>
                  <option *ngFor="let item of brands" [value]="item.id.trim()">
                    {{ item.descripcion.trim() | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="linea.invalid && linea.touched">
            <label class="label">
              {{ linea.invalid && linea.touched ? msgError : 'Línea' }}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!lines.length">
                <select name="linea" [(ngModel)]="model.linea" #linea="ngModel" required (change)="onChangeLine()">
                  <option value="">Seleccione línea</option>
                  <option *ngFor="let item of lines" [value]="item.id.trim()">
                    {{ item.descripcion.trim() | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="subLinea.invalid && subLinea.touched">
            <label class="label">
              {{ subLinea.invalid && subLinea.touched ? msgError : 'Sublinea' }}: *
            </label>
            <div class="control">
              <div class="select">
                <select name="subLinea" [(ngModel)]="model.subLinea" #subLinea="ngModel" required [disabled]="!this.model.linea">
                  <option value="">Seleccione Sublinea</option>
                  <option *ngFor="let item of subLines" [value]="item.id.trim()">
                    {{ item.descripcion.trim() | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="producto.invalid && producto.touched">
            <label class="label">
              {{ producto.invalid && producto.touched ? msgError : 'Producto' }}: *
            </label>
            <div class="control">
              <div class="select" [class.is-loading]="!products.length">
                <select name="producto" [(ngModel)]="model.producto" (change)="onChangeProduct()" #producto="ngModel" required>
                  <option value="">Seleccione Producto</option>
                  <option *ngFor="let item of products" [value]="item.idProducto.trim()">
                    {{ item.descripcion.trim() | decode }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile" *ngIf="hasIMEI">
          <div class="field" [class.is-invalid]="imei.invalid && imei.touched">
            <label class="label">
              {{ imei.invalid && imei.touched ? 'Ingrese un IMEI válido' : 'IMEI' }}: *
            </label>
            <div class="control">
              <input type="text" class="text" name="imei" [(ngModel)]="model.imei" #imei="ngModel" required />
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile" *ngIf="hasSerialNumber">
          <div class="field" [class.is-invalid]="nroSerie.invalid && nroSerie.touched">
            <label class="label">
              {{ nroSerie.invalid && nroSerie.touched ? 'Ingrese un número de serie válido' : 'Número de Serie' }}: *
            </label>
            <div class="control">
              <input type="text" class="text" name="nroSerie" [(ngModel)]="model.nroSerie" #nroSerie="ngModel" required />
            </div>
          </div>
        </div>

        <div class="column is-4-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="nroFactura.invalid && nroFactura.touched">
            <label class="label">
              {{ nroFactura.invalid && nroFactura.touched ? 'Ingrese un número de factura válido' : 'Número de Factura' }}: *
            </label>
            <div class="control">
              <input type="text" class="text" name="nroFactura" [(ngModel)]="model.nroFactura" #nroFactura="ngModel" required />
            </div>
          </div>
        </div>

        <div class="column is-12-desktop is-12-tablet is-12-mobile">
          <app-next-button
            (nextAction)="nextAction()"
            [isDisabled]="f.invalid"
          ></app-next-button>
        </div>
      </div>
    </form>
  </div>
</div>
