@import "~app/shared/styles/main.scss";

.available-products {
  padding: 6px 0 2.5rem;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .no-products {
    color: $light-black;
    font-family: "BNPPSquare";
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 0.5rem;
    text-align: center;
  }

  .categories {
    display: flex;
    justify-content: space-around;

    .category {
      cursor: pointer;

      &-icon,
      &-name {
        display: block;
        margin: 5px auto;
      }

      &-icon {
        background: $white;
        border: 1px solid transparent;
        border-radius: 50%;
        height: 140px;
        transition: .2s border linear;
        width: 140px;

        span[class^="icon-"] {
          color: $black;
          font-size: 5.6rem;
          margin: 25px auto 0;
          display: inline-block;
          transition: .2s color linear;
          width: 100%;
        }
      }

      &-name {
        color: $black;
        display: block;
        font-family: "BNPPSquare";
        font-size: 1.2rem;
        text-align: center;
        transition: .2s color linear;
      }

      &.active {
        .category-icon {
          border: 1px solid $light-gray;

          span[class^="icon-"] {
            color: $pink;
          }
        }
      }
    }

    &.has-one-selected {
      .category:not(.active) {
        //   pointer-events: none;

        .category-name,
        span[class^="icon-"] {
          color: #bab9b9;
        }
      }
    }
  }

  .products {
    margin-top: 1.875rem;
    display: flex;

    .columns {
      flex-wrap: wrap;
    }

    .product {
      cursor: pointer;
      height: 50px;
      margin: 0 0 1px;
      padding: 0 0.6rem;

      .desciption {
        background: $light-gray;
        box-sizing: border-box;
        color: #3f3d3c;
        font-family: "BNPPSquare";
        font-size: 1rem;
        line-height: 3.06;
        height: 49px;
        padding: 0 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

  }

  .products-plans {
    margin-top: 1.8rem;

    .product-selected {
      background: $light-gray;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      padding: 0 0.9rem;
      width: 100%;

      span {
        &.title {
          color: #3f3d3b;
          font-family: "BNPPSquare";
          font-size: 1rem;
          font-weight: normal;
          line-height: 49px;
          margin: 0;
        }

        &.delete {
          background: $white;
          margin-top: 12px;
        }
      }
    }

    .plans {
      box-sizing: border-box;
      border: 1px solid $light-gray;
      margin-top: 1px;
      padding: 25px 10px;
      width: 100%;
    }
  }

  .form {
    .is-grouped {
      justify-content: space-between;
      width: 100%;

      .control {
        width: 47%;
      }
    }

    .field {
      &.is-invalid {
        select:not(.ng-invalid) {
          border-color: #b0b0ae;
          background-color: #fff;
        }
      }
    }
  }

  .table {
    margin: 1rem auto;
    max-width: 680px;
    width: 90%;

    .row {
      width: 100%;

      &:first-child {
        .col:nth-child(n + 2) {
          border-top: 1px solid $gray;
        }
      }

      &:last-child {
        .col {
          padding: 0;
        }
      }

      .col {
        border-right: 1px solid $gray;
        border-bottom: 1px solid $gray;
        color: #7a7775;
        font-family: "BNPPSquare";
        font-size: 12px;
        padding: 0.6rem 0.8rem;

        &:first-child {
          border: none;
          color: #ff0074;
          font-family: "BNPPSquare-Bold";
        }

        &:nth-child(2) {
          border-left: 1px solid $gray;
        }
      }
    }
  }

  .btn--primary {
    width: 100%;
    background-color: #cc0072;
    border: none;
    color: white;
    font-family: "BNPPSquare";
    font-size: 12px;
    height: 46px;

    &:focus {
      outline: none;
    }
  }




}

@include respond-below(sm) {
  .available-products {
    .categories {
      .category {
        &-icon,
        &-name {
          margin: 3px auto;
        }

        &-icon {
          height: 70px;
          width: 70px;

          span[class^="icon-"] {
            font-size: 2.6rem;
            margin: 12px auto 0;
          }
        }

        &-name {
          font-size: 14px;
          max-width: 90px;
        }
      }
    }

    .products {
      margin-top: 1.5rem;

      ul.columns {
        margin: 0;
        padding: 0;
      }

      .product {
        cursor: pointer;
        height: 46px;
        margin: 0 0 1px;

        .desciption {
          font-size: 14px;
          height: 45px;
        }
      }
    }

    .products-plans {
      margin-top: 1.5rem;

      .product-selected {
        span {
          &.title {
            font-size: 14px;
            line-height: 45px;
          }

          &.icon {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.card-title{
  font-size: .8rem;
  color: black;
font-weight: bolder;
}

.card-body-item {
  margin-top: .2rem;
  font-size: .6rem;
  color: black;
}

.card-body-precio {
  margin-top: 1.5rem;
  color: #cc0072;
  font-size: 1.2rem;
  font-style: italic;
font-weight: bolder;

}

.is-space-around{
justify-content: space-around;
}

.check{
  margin-top: .8rem;
  color: #cc0072;
  font-weight: bolder;
}
.btn--diss {
  box-shadow: 1px 1px 0 0 #787776;
  background-color: #ebebeb;
  color: #3e3d3c !important;
  opacity: 0.75;

  width: 100%;
  border: none;
  font-family: "BNPPSquare";
  font-size: 12px;
  height: 46px;

}
.mensajeError{
  color: red;

}

.button {
  background-color: #bb1f70;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 0 0 #8e1855;
  color: white;
  font-family: "BNPPSquare";
  font-size: 1rem;
  height: 100%;
  width: 220px;
}
