<div class="available-products" [@animacion] = estado>
  <div class="container">
    <p class="no-products" *ngIf="noProducts; else hasProducts">No hay productos disponibles para el cliente.</p>

    <ng-template #hasProducts>
      <ul class="categories" [class.has-one-selected]="hasOneSelected">
        <li class="category text-center" *ngFor="let item of categories" [class.active]="item.state === state.active"
            (click)="selectCategory(item)">
          <div class="category-icon">
            <span [class]="item.type"></span>
          </div>
          <span class="category-name">{{ item.name }}</span>
        </li>
      </ul>
    </ng-template>

    <div class="products" *ngIf="listaUno.length && !selectedProduct">
      <ul class="column is-4-desktop is-6-tablet is-12-mobile">
        <li class="product column is-12-desktop is-12-tablet is-12-mobile" *ngFor="let item of listaUno"
            (click)="selectProduct(item)">
          <div class="desciption">{{ item.descripcion_mkt | decode }}</div>
        </li>
      </ul>

      <ul class="column is-4-desktop is-6-tablet is-12-mobile ">
        <li class="product column is-12-desktop is-12-tablet is-12-mobile" *ngFor="let item of listaDos"
            (click)="selectProduct(item)">
          <div class="desciption">{{ item.descripcion_mkt | decode }}</div>
        </li>
      </ul>

      <ul class="column is-4-desktop is-6-tablet is-12-mobile">
        <li class="product column is-12-desktop is-12-tablet is-12-mobile" *ngFor="let item of listaTres"
            (click)="selectProduct(item)">
          <div class="desciption">{{ item.descripcion_mkt | decode }}</div>
        </li>
      </ul>

    </div>

    <div class="products-plans" *ngIf="selectedProduct">
      <div class="product-selected">
        <span class="title">{{ selectedProduct.descripcion_mkt | decode }}</span>

        <span class="delete is-medium" (click)="unselectProduct()"></span>
      </div>
      <div class="plans">
        <app-choose-plan (next)="onNext($event)" [plans]="plans"></app-choose-plan>
      </div>
    </div>

    <ng-container *ngIf="selectedCategory && selectedCategory.id === '4'">
      <p>No existen productos...</p>
    </ng-container>

    <ng-container *ngIf="selectedCategory && selectedCategory.id === '3'">
      <div class="products"  *ngIf="!mostrarProducto">
        <form action="" class="form column is-12-desktop is-6-tablet is-12-mobile " #f="ngForm" novalidate autocomplete="off" (change)="onFormChange()">
          <div class="columns is-flex flex-center">

            <div class="column is-6-desktop is-6-tablet is-12-mobile">
              <div class="field" [class.is-invalid]="_subLine.invalid && _subLine.touched">
                <label class="label">
                  ¿Que compró?: * {{ _subLine.invalid && _subLine.touched ? 'Hay que seleccionar una sublinea' : ''}}
                </label>
                <div class="control">
                  <div class="select" [class.is-loading]="!subLineaItems.length">
                    <select name="subLine" [(ngModel)]="subLine" #_subLine="ngModel" required (change)="onChange()">
                      <option value="">SUBLINEA</option>
                      <option *ngFor="let item of subLineaItems" [value]="(item.id || '').trim()">
                        {{ item.descripcion.trim() }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-6-desktop is-6-tablet is-12-mobile">
              <div class="field" [class.is-invalid]="_precio.invalid || _precio.touched">
                <label class="label">
                  ¿Cuánto lo pagó?: *
                </label>
                <div class="control">
                  <input name="precio" class="input" type="number" placeholder="Ingresar monto $00.00"
                         [(ngModel)]="precio"
                         #_precio="ngModel"
                         [disabled]="_subLine.invalid"
                         (keyup)="validar(_precio.value)"
                         />
                </div>
              </div>
            </div>

            <div class="column is-3-desktop is-3-tablet is-12-mobile">
              <div class="field" >
                <div class="control control-button">
                  <button class="button"
                          [class.is-loading]="isLoading"
                          [disabled]= "!buttonValid"
                          (click)="buscarRango();"
                  > Continuar
                  </button>
                </div>
              </div>
            </div>

            <div class="mensajeError column is-12-desktop is-12-tablet is-12-mobile text-center" *ngIf="errorDeRango">¡{{msjError}}!</div>

          </div>
        </form>
      </div>
      <div class="products-plans" *ngIf="mostrarProducto">
        <div class="product-selected">
          <span class="title">{{ selectedWarrantyProduct.Descripcion | decode }}</span>
          <span class="delete is-medium" (click)="unselectProductWarranty()"></span>

        </div>
        <div class="plans is-flex is-space-around">

          <div class="card column is-3-desktop is-6-tablet is-12-mobile" *ngFor="let item of selectedWarrantyProduct.colPrecios">
            <div class="card-content">
              <p class="card-title">
                Garantia extendida {{item.Plazo}}
              </p>
              <p class="card-body-item"> <span class="check">&#10003;</span> Servicio técnico oficial </p>
              <p class="card-body-item"> <span class="check">&#10003;</span> Repuestos originales</p>
              <p class="card-body-item"> <span class="check">&#10003;</span> Reposición del producto al 100% </p>
              <p class="card-body-item" *ngIf="selectedWarrantyProduct.TieneRobo"> <span class="check">&#10003;</span> {{ selectedWarrantyProduct.TieneRobo ? 'Cobertura por robo' : ''}} </p>
              <p class="card-body-item" *ngIf="selectedWarrantyProduct.tieneDano"> <span class="check">&#10003;</span> {{ selectedWarrantyProduct.tieneDano ? 'Cobertura por daño' : ''}}</p>
              <p class="card-body-precio text-center">
                ${{item.Importe}}
              </p>
            </div>
            <footer class="card-footer">
              <button class="btn--primary" (click)="prdWarrantySeleccionado(item.Plazo)">
                Seleccionar
              </button>
            </footer>
          </div>

          <!--<table class="table">
            <tbody>
              <tr class="row">
                <td class="col upper">Robo</td>
                <td class="col text-center" *ngFor="let price of selectedWarrantyProduct.colPrecios">
                  {{ selectedWarrantyProduct.tieneRobo ? 'SI' : 'NO' }}
                </td>
              </tr>
              <tr class="row">
                <td class="col upper">Daño</td>
                <td class="col text-center" *ngFor="let price of selectedWarrantyProduct.colPrecios">
                  {{ selectedWarrantyProduct.tieneDano ? 'SI' : 'NO' }}
                </td>
              </tr>
              <tr class="row">
                <td class="col upper">Plazo</td>
                <td class="col text-center" *ngFor="let price of selectedWarrantyProduct.colPrecios">
                  {{ price.plazo | decode }}
                </td>
              </tr>
              <tr class="row">
                <td class="col upper">Importe</td>
                <td class="col text-center" *ngFor="let price of selectedWarrantyProduct.colPrecios">
                  {{ price.importe | amountFormat: '.' }}
                </td>
              </tr>
              <tr class="row">
                <td class="col"></td>
                <td class="col text-center" *ngFor="let price of selectedWarrantyProduct.colPrecios">
                  <button class="btn&#45;&#45;primary" (click)="selectWarrantyPlan(price)">Seleccionar</button>
                </td>
              </tr>
            </tbody>
          </table>-->

        </div>
      </div>
    </ng-container>
  </div>
</div>
