<div class="dashboard">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <app-choose-branch-modal
    [isActive]="isActive"
    [user]="user"
    (closeModal)="closeModal($event)"
  >
  </app-choose-branch-modal>
</div>
