<div class="purchase-template">
  <div class="title">{{ product.descripcion_producto | decode }}</div>

  <div class="show-purchase-form">
    <app-purchase-form [model]="model" (handleSubmit)="handleSubmit($event)"></app-purchase-form>
  </div>
</div>
