@import "~app/shared/styles/_variables.scss";

.purchase-template {
  padding: 6px 0 2.5rem;
  width: 100%;

  .title {
    color: $black;
    font-family: "BNPPSquare-Bold";
    font-size: 1rem;
  }

  .button-next {
    border: none;
    color: $black;
    font-family: "BNPPSquare";
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0;
    margin-top: 0.5rem;

    &.disabled {
      pointer-events: none;
      opacity: 0.65;
    }

    span.icon {
      color: $black;
    }
  }
}
