@import "~app/shared/styles/main.scss";

.pago-con-tarjeta {
  padding: 6px 0 2.5rem;
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .columns {
    flex-wrap: wrap;
  }

  .sub-title {
    color: $black;
    font-family: 'BNPPSquare';
    font-size: 1.9rem;
    margin-top: 1rem;
  }

  .grayimg
  {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  }

  .short-line {
    background: $black;
    display: block;
    height: 1px;
    margin: 10px 0;
    width: 35px;
  }

  .form {
    margin-top: 1.5rem;
    .control {
      &.has-text {
        height: auto;
        margin: 1rem 0;
      }

      input.card-expiration {
        width: 150px;
      }

      label.checkbox {
        color: $light-black;
        font-size: 1rem;
        font-family: "BNPPSquare";
      }
    }

    .button {
      background-color: #bb1f70;
      box-sizing: border-box;
      box-shadow: 3px 3px 0 0 #8e1855;
      border: none;
      color: white;
      font-family: "BNPPSquare";
      height: 50px;
      padding: 10px 0px 10px 0px;
      width: 300px;

      &:active{
        background-color: rgb(199, 106, 137);
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        box-shadow: 1px 1px 0 0 #787776;
        background-color: #ebebeb;
        color: #3e3d3c;
        opacity: 0.75;
      }

      &.is-loading:disabled {
        background-color: #bb1f70;
        box-shadow: 3px 3px 0 0 #8e1855;
        color: $white;
        opacity: 0.75;
      }
    }
  }

  .card-icons {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    img {
      height: 35px;
      width: 47px;
    }
  }








  &--title {
    color: #3e3d3c;
    font-family: 'BNPPSquare';
    font-size: 1.9rem;
    margin-top: 40px;
  }

  &--wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  &--description {
    color: #3e3d3c;
    font-family: 'BNPPSquare';
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.2rem;
  }
}

.payAndConsent__block {
  display: inline-block;
  margin-right: 20px;
  font-family: 'BNPPSquare';
  line-height: 0.35;
  box-sizing: border-box;
  margin-bottom: 10px;

  &--last {
    margin-top:40px;
    margin-bottom: 40px;
  }

  &--checkDisclaimer {
    margin-top: 30px;
    margin-left: 30px;
  }

  &--confirm {
    margin-top: 40px;
  }
}

.--error {
  color: #ff3860;
}

.payAndConsent--select {
  width: 300px;
  height: 50px;
}

.payAndConsent--cardInput {
  width: 75px;
  height: 50px;
}

.payAndConsent--dueInput {
  width: 140px;
  height: 50px;
}

.payAndConsent--secInput {
  width: 140px;
  height: 50px;
}

.--input {
  padding-left: 10px;
  background: $white;
  border: 1px solid #b0b0ae;
  border-radius: 0;
  box-shadow: inset 3px 3px 0 0 #ebebeb;
  box-sizing: border-box;
  color: $light-black;
  font-family: "BNPPSquare";
  font-size: 1rem;
  font-weight: normal;
  padding: 0 0.9rem;
  transition: .2s all linear;
}

.payAndConsent--nameInput {
  width: 300px;
  height: 50px;
}

.payAndConsent--smsCodeInput {
  width: 300px;
  height: 50px;
}

.payAndConsent--inputFile {
  width: 100%;
  height: 50px;
}

.payAndConsent--realFileInput {
  display: none;
}

.payAndConsent--secondaryBtn {
  width: 140px;
  height: 49px;
  box-shadow: 1px 1px 0 0 #787776;
  background-color: #ebebeb;
  transform: translateY(-1px);
  margin-right: 160px;
}

.--shadowBox {
  background: #fff;
  border: 1px solid #b0b0ae;
  box-shadow: inset 3px 3px 0 0 #ebebeb;
  box-sizing: border-box;
  color: #787776;
}

.--inputError {
  border-left: 1px solid $red;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
  box-shadow: none;

  &--last {
    border-left: 1px solid $red;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
    border-right: 1px solid $red;
    box-shadow: none;

    &:focus{
      box-shadow: 0 0 5px $red;
      outline-color: $red;
    }
  }

  &:focus{
    box-shadow: 0 0 5px $red;
    outline-color: $red;
  }
}

.ng-invalid.ng-touched {
  border-color: $red;

  &:focus{
    box-shadow: 0 0 5px $red;
    outline-color: $red;
  }
}

.payAndConsent--link {
  display: inline-block;
  text-decoration: underline;
  color: #3e3d3c;
  font-family: 'BNPPSquare';
  font-size: 1rem;
}

.payAndConsent--check {
  vertical-align: top;
  transform: translate(-100%, +50%);
  cursor: inherit;
}

.payAndConsent--disclaimer {
  max-width: 95%;
  display: inline-block;
  line-height: 1.3;
  cursor: pointer;
  margin-bottom: 14px;
  box-sizing: border-box;

  color: $black;
  font-family: "BNPPSquare";
  font-size: 1rem;
  font-weight: normal;
  transition: .2s all linear;
}

.--imgblock {
  margin-right: 50px;
  margin-left: 30px;

  .payAndConsent__img {
    width: 47px;
    height: 30px;
    transform: translateY(+30%);
    transition: .4s all linear;
  }


}

.--disabledImg {
  opacity: 0.2;
}

.uploadFile--block {
  margin-bottom: 30px;
}

.payAndConsent__imgSuccess {
  width: 30px;
  height: 30px;
  transform: translate(-45%, +20%);
  visibility: hidden;

  &.--showSuccessImg {
    visibility: visible;
  }
}

.payAndConsent--primaryBtn {
  background-color: #bb1f70;
  color: white;
  font-family: "BNPPSquare";
  box-shadow: 3px 3px 0 0 #8e1855;
  border: none;
  width: 300px;
  padding: 10px 0px 10px 0px;
  position: absolute;
  right: 22px;
  margin-right: 20px;
  box-sizing: border-box;

  &:active{
    background-color: rgb(199, 106, 137);
  }
  &:focus{
    outline: none;
  }
  &:disabled{
    color: #3e3d3c;
    opacity: 0.75;
    box-shadow: 1px 1px 0 0 #787776;
    background-color: #ebebeb;
  }
}

.uploadFile--confirmation {
  margin-bottom: 50px;
}

// desktop
@media only screen and (min-width : 960px) {
  .--nameBlock, .--smsCodeBlock {
    position: absolute;
    right: 22px;
  }

}

// tablet
@media only screen and (min-width : 767px) and (max-width : 959px) {
  .payAndConsent__break--desktop {
    display:none;
  }

  .payAndConsent__block {
    margin-right: 40px;
  }
}

// mobile
@media only screen and (max-width : 766px) {

  .payAndConsent__block {
    width: 100%;

    .payAndConsent--cardInput {
      width: 25%;
    }

    .payAndConsent--nameInput {
      width: 100%;
    }
  }

  .uploadFile--button {
    width: 100%;
    left: 0;

  }

  .payAndConsent__imgSuccess {
    width: 40px;
    height: 40px;
    transform: translateY(+20%);
    visibility: hidden;
    margin: auto;
    left: 200px;
    position: absolute;

    &.--showSuccessImg {
      visibility: visible;
    }
  }

  .--vencimiento {
    margin-left: 0;
    margin-right: 0;
    width: 45%;
  }

  .--securityCode {
    margin-left: 10%;
    margin-right: 0;
    width: 45%;
  }

  .payAndConsent--secInput, .payAndConsent--dueInput {
    width: 100%;
  }

  .--imgblock {
    margin-bottom: 40px;
    margin-left: auto;

    .payAndConsent__img {
      width: 62px;
      height: 40px;
      transform: translateY(+30%);
      transition: .4s all linear;
    }
  }

  .payAndConsent--title {
    text-align: center;
  }

  .short-line {
    margin: auto;
  }

  .payAndConsent--select {
    width: 100%;
    margin-bottom: 10px;
  }

  .payAndConsent--secondaryBtn {
    width: 50%;
    margin-right: 0px;
    float: right;
  }

  .payAndConsent--smsCodeInput {
    width: 100%;
    margin-right: 0px;
  }

  .payAndConsent--primaryBtn {
    right: 0px;
    margin-right: 0px;
    width: 100%;
  }

}

.form[_ngcontent-c21] .control[_ngcontent-c21] select[_ngcontent-c21], .form[_ngcontent-c21] .control[_ngcontent-c21] input[_ngcontent-c21]{
  padding-left: 2.5rem;
}

.short-line {
  margin: auto;
}

.modal-title {
  color: #cc0072;
  font-family: "BNPPSquare";
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: normal;
}

.box{
  width: 50vw;
}
