<section class="pago-con-tarjeta">
  <div class="container">

    <form class="form" id="formulario" [formGroup]="formularioPago" name="payAndConsentForm" autocomplete="off">
      <div class="columns">

        <div class="column is-3-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="numDocumentoInvalid">
            <label class="label">
              {{  numDocumentoInvalid ? 'DNI invalido' : 'Número de DNI' }}: *
            </label>
            <div class="control">
              <input name="numDocumento"
                     formControlName="numDocumento"
                     data-decidir="card_holder_doc_number"
                     class="input"
                     type="number"
                     (keyup)="validaciones('numDocumento', numDocumento.value)"
                     placeholder="Ingrese el número"/>
            </div>
          </div>
        </div>

        <div class="column is-6-desktop is-6-tablet is-12-mobile">
          <div class="field" [class.is-invalid]="nombreCompletoInvalid">
            <label class="label">
              {{
                nombreCompletoInvalid ? 'Nombre invalido' : 'Nombre del titular'
              }}: *
            </label>
            <div class="control">
              <input name="nombreCompletoTitular"
                     formControlName="nombreCompletoTitular"
                     data-decidir="card_holder_name"
                     type="text"
                     class="input"
                     (keyup)="validaciones('nombreCompletoTitular', nombreCompletoTitular.value)"
                     placeholder="Como figura en la tarjeta"
              >
            </div>
          </div>
        </div>

        <div class="column is-6-desktop is-6-tablet is-12-mobile">
          <div class="field is-grouped is-grouped-4"
               [class.is-invalid]="
              formularioPago.controls.cardNum1.invalid && formularioPago.controls.cardNum1.touched ||
              formularioPago.controls.cardNum2.invalid && formularioPago.controls.cardNum2.touched ||
              formularioPago.controls.cardNum3.invalid && formularioPago.controls.cardNum3.touched ||
              formularioPago.controls.cardNum4.invalid && formularioPago.controls.cardNum4.touched ||
              isLuhnMsjOn
            ">
            <label class="label">
              {{
                formularioPago.controls.cardNum1.invalid && formularioPago.controls.cardNum1.touched ||
                formularioPago.controls.cardNum2.invalid && formularioPago.controls.cardNum2.touched ||
                formularioPago.controls.cardNum3.invalid && formularioPago.controls.cardNum3.touched ||
                formularioPago.controls.cardNum4.invalid && formularioPago.controls.cardNum4.touched ||
                isLuhnMsjOn ? 'Número no válido, por favor verifique' : 'Número de tarjeta'
              }}: *
            </label>

            <div class="control">
              <input class="input" formControlName="cardNum1" name="cardNum1" placeholder="XXXX"
                     (keyup)="onKeyUpInput(1)"
                     appNumbersOnly="true"
                     [Type]="typeCard"
                     (blur)="checkLuhn();"
                     #cardNum1/>
            </div>
            <div class="control">
              <input class="input" formControlName="cardNum2" name="cardNum2" placeholder="XXXX"
                     (keyup)="onKeyUpInput(2)"
                     appNumbersOnly="true"
                     [Type]="typeCard"
                     (blur)="checkLuhn()"
                     #cardNum2/>
            </div>
            <div class="control">
              <input class="input"
                     formControlName="cardNum3"
                     name="cardNum3"
                     placeholder="XXXX"
                     (keyup)="onKeyUpInput(3)"
                     appNumbersOnly="true"
                     [Type]="typeCard"
                     (blur)="checkLuhn()"
                     #cardNum3/>
            </div>
            <div class="control">
              <input class="input"
                     formControlName="cardNum4"
                     name="cardNum4"
                     placeholder="XXXX"
                     appNumbersOnly="true"
                     [Type]="typeCard"
                     (keyup)="checkLuhn()"
                     #cardNum4/>
            </div>
          </div>
          <input type="text" data-decidir="card_number"
                 [value]="cardNum1.value+cardNum2.value+cardNum3.value+cardNum4.value" hidden/>

        </div>

        <div class="column is-6-desktop is-6-tablet is-12-mobile" *ngIf="isNotPUA">
          <div class="field">
            <label class="label"></label>
          </div>
          <div class="control card-icons">
            <img class="payAndConsent__imgSuccess" src="assets/img/icon_cardSuccess.svg"
                 [ngClass]="{'--showSuccessImg': ((isValidCardIssuer) && (isLuhnCheck))}"/>
            <img src="assets/img/visa-card.png" alt="visa"
                 [ngClass]="{'--disabledImg': ((cardType!='VISA') && (cardType!=''))}"/>
            <img src="assets/img/master-card.svg" alt="mastercard"
                 [ngClass]="{'--disabledImg': ((cardType!='MASTERCARD') && (cardType!=''))}"/>
            <img src="assets/img/amex-card.png" alt="amex"
                 [ngClass]="{'--disabledImg': ((cardType!='AMERICAN EXPRESS') && (cardType!=''))}"/>
          </div>
        </div>

        <div class="column is-2-desktop is-6-tablet is-12-mobile">
          <div class="field"
               [class.is-invalid]="fechaVencimientoInvalid">
            <label class="label">
              {{
                fechaVencimientoInvalid ? 'Dato invalido!' : 'Vencimiento'
              }}: *
            </label>
            <div class="control">
              <input name="fechaVencimiento"
                     class="text card-expiration"
                     [cleave]="{date: true, datePattern: ['m', 'y']}"
                     formControlName="fechaVencimiento"
                     (keyup)="validaciones('fechaVencimiento', fechaVencimiento.value)"
                     placeholder="MM / AA"
              />
              <input type="text" data-decidir="card_expiration_month" [value]="mes" hidden/>
              <input type="text" data-decidir="card_expiration_year" [value]="anio" hidden/>

            </div>
          </div>
        </div>

        <div class="column is-2-desktop is-6-tablet is-12-mobile">
          <div class="field"
               [class.is-invalid]="codigoSegInvalid">
            <label class="label">
              {{
                codigoSegInvalid ? 'Dato invalido' : 'Cod. Seg.'
              }}: *
            </label>
            <div class="control">
              <div class="control">
                <input name="codigoSeg"
                       type="text"
                       class="input"
                       formControlName="codigoSeg"
                       data-decidir="security_code"
                       (keyup)="validaciones('codigoSeg', codigoSeg.value)"
                       placeholder="CVV"
                >
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="columns">

        <div class="column is-full">
          <button class="button"
                  (click)="confirmar()"
                  [disabled]="!isConfirmado"
                  [class.is-loading]="isLoading">
            Confirmar operación
          </button>
        </div>
      </div>
    </form>
        <!--<form action="" method="post" id="formulario" >
          <fieldset>
            <ul>
              <li>
                <label for="card_number">Numero de tarjeta:</label>
                <input type="text" data-decidir="card_number" placeholder="XXXXXXXXXXXXXXXX" value="4507990000004905"/>
              </li>
              <li>
                <label for="security_code">Codigo de seguridad:</label>
                <input type="text"  data-decidir="security_code" placeholder="XXX" value="123" />
              </li>
              <li>
                <label for="card_expiration_month">Mes de vencimiento:</label>
                <input type="text"  data-decidir="card_expiration_month" placeholder="MM" value="12"/>
              </li>
              <li>
                <label for="card_expiration_year">Año de vencimiento:</label>
                <input type="text"  data-decidir="card_expiration_year" placeholder="AA" value="20"/>
              </li>
              <li>
                <label for="card_holder_name">Nombre del titular:</label>
                <input type="text" data-decidir="card_holder_name" placeholder="TITULAR" value="TITULAR"/>
              </li>
              <li>
                <label for="card_holder_doc_type">Tipo de documento:</label>
                <select data-decidir="card_holder_doc_type">
                  <option value="dni">DNI</option>
                </select>
              </li>
              <li>
                <label for="card_holder_doc_type">Numero de documento:</label>
                <input type="text"data-decidir="card_holder_doc_number" placeholder="XXXXXXXXXX" value="27859328"/>
              </li>
            </ul>
            <button (click)="confirmar()">Confirmar</button>
          </fieldset>
        </form>-->

    <!--      FIN formulario decidir  ===============================================================================================================-->


    <!--      ===============================================================================================================-->
    <!--      Mensaje de Errores de SPS    -->
    <!--      ===============================================================================================================-->

    <div class="mostrarPop" *ngIf="isMsjError">
      <div class="modal" [class.is-active]="!isActive">
        <div class="modal-background"></div>
        <div class="modal-content-img animated" [class.zoomIn]="!isActive" [class.zoomOut]="isActive">
          <div class="box">
            <h3 class="modal-title capitalize text-right" (click)="cerrarMsjError()"><span
              class="icon-cerrar">&#10005;</span></h3>
            <h3 class="modal-title capitalize"> Error al procesar la tarjeta:</h3>
            <span class="short-line"></span>
            <div class="modal-body">
              <ul class="listaErroresDeTarjeta">
                <!--                  <li > - <span *ngIf="item.error.message == 'Card Number is empty' "> El número de tarjeta está vacío. </span></li>-->
                <li *ngFor="let item of listaErroresTarjeta; index as i">
                  <span *ngIf="item.error.message === 'Card Number is empty' "> - El número de tarjeta está vacío.</span>
                </li>

                <li *ngFor="let item of listaErroresTarjeta; index as i">
                  <span
                    *ngIf="item.error.message === 'Card Holder Name is empty' "> - El nombre del titular de la tarjeta está vacío</span>
                </li>

                <li *ngFor="let item of listaErroresTarjeta; index as i">
                  <span *ngIf="item.error.message === 'Card Number must be a number' "> - El número de tarjeta debe ser un número</span>
                </li>

                <li *ngFor="let item of listaErroresTarjeta; index as i">
                  <span *ngIf="item.error.message === 'Invalid Card Number' "> - Numero de tarjeta invalido</span>
                </li>

                <li *ngFor="let item of listaErroresTarjeta; index as i">
                  <span *ngIf="item.error.message === 'Expiry date is invalid' "> - La fecha de caducidad no es válida.</span>
                </li>

                <li *ngFor="let item of listaErroresTarjeta; index as i">
                  <span *ngIf="item.error.message === 'Invalid param' "> - Algun parametro no es válido.</span>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--      FIN formulario decidir  ===============================================================================================================-->

  </div>
</section>

