<div class="warranty-template">
  <div class="title">{{ product.Descripcion | decode }}</div>

  <div class="show-technology-form">
    <app-warranty-form [model]="model" (handleSubmit)="handleSubmit($event)"></app-warranty-form>
  </div>
</div>
