.social {
  width: 96%;
  margin: 0 auto;

  &--nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      box-sizing: border-box;
      margin: 0px 7px 0 0;

      &:last-child {
        margin: 0;
      }

      .link {
        color: #787776;
        font-size: 1rem;
      }
    }
  }
}
