<div class="social">
  <ul class="social--nav">
    <li *ngFor="let item of items" class="social--nav__item">
      <a [href]="item.url" target="_blank">
        <img [src]="'assets/img/icon_' + item.name + '.jpg'" alt="" />
      </a>
    </li>
  </ul>
</div>
